/*------------------------------------*\
    #Default page
\*------------------------------------*/

.default .content {
	max-inline-size: rem(752);
}

@supports(grid-column-gap: 8%) {
	.default .content {
		max-inline-size: none;

		@include mq($bp-tab-large) {
			display: grid;
			grid-column-gap: 7.857%;
			grid-template-areas: "article related";
			grid-template-columns: 67.143% 25%;
		}
	}

	.default .content article {
		@include mq($bp-tab-large) {
			grid-area: article;
		}
	}

	.default .content .related {
		@include mq($bp-tab-large) {
			grid-area: related;
		}
	}
}

.default .related {
	border-block-start: solid 10px $w3c-blue;
	// margin-block-start: rem(40);
	padding-block-start: rem(20);
}

.related [aria-current] {
	color: $off-black;
	text-decoration: none;
}

@supports(grid-column-gap: 8%) {
	.default .related {
		// @include mq($bp-tab-large) {
		// 	margin-block-start: 0;
		// }
	}
}

.default .related__inner {
	@include mq($bp-tab-large) {
		border-inline-start: solid 1px $border-color;
		padding-inline: rem(20);
	}
}

.default .related__inner ul a {
	display: inline-block;
	padding-block: rem(10);
}