/*------------------------------------*\
    #Event
\*------------------------------------*/

.event .content {
	max-inline-size: rem(752);
}

.event .intro {
	display: flex;
	flex-direction: column;
	margin-block-end: rem(20);
	margin-inline-start: rem(30);
	position: relative;

	&::before {
        block-size: 100%;
		border-radius: rem(5);
		content: '';
        inline-size: rem(5);
        inset-block-start: 0;
		inset-inline-start: rem(-28);
		position: absolute;
	}

	&.conference::before {
		background-color: $teal-green;
	}

	&.meeting::before {
		background-color: $aqua;
	}

	&.talk::before {
		background-color: $deep-yellow;
	}

	&.workshop::before {
		background-color: $red;
	}

	// h1 {
	// 	margin-block-end: 0;
	// }

	h1 + * {
		@include txt-mars;
		// margin-block-end: rem(10);
		order: -1;
	}
}

// .event .lead,
// .event .calendar-link {
// 	margin-block-end: rem(20);
// }