/*------------------------------------*\
    #Event
\*------------------------------------*/

.event .content {

	max-width: rem(752);

}

.event .intro {

	display: flex;
	flex-direction: column;
	margin-bottom: rem(20);
	margin-inline-start: rem(30);
	position: relative;

	&::before {

		border-radius: rem(5);
		content: '';
		height: 100%;
		left: rem(-28);
		position: absolute;
		top: 0;
		width: rem(5);

	}

	&.conference::before {

		background-color: $teal-green;

	}

	&.meeting::before {

		background-color: $aqua;

	}

	&.talk::before {

		background-color: $deep-yellow;

	}

	&.workshop::before {

		background-color: $red;

	}

	h1 {

		margin-bottom: 0;

	}

	h1 + * {

		@include txt-mars;

		margin-bottom: rem(10);
		order: -1;

	}

}

[dir="rtl"] {

	.event .intro::before {

		left: auto;
		right: rem(-28);

	}

}

.event .lead,
.event .calendar-link {

	margin-bottom: rem(20);

}