/*------------------------------------*\
    #Landing page
\*------------------------------------*/

.landing,
.ecosystem {

	#breadcrumb {

		background-color: $mist-gray;

	}

	main,
	#main {

		padding-top: 0;

	}

	.component--text,
	.component--image,
	.component--video,
	.component--quote {

		margin-left: auto;
		margin-right: auto;
		max-width: rem(711);

	}

	.component--quote {

		max-width: rem(691);

	}

}