/*------------------------------------*\
    #Landing page
\*------------------------------------*/

.landing,
.ecosystem {
	#breadcrumb {
		background-color: $mist-gray;
	}

	main,
	#main {
		padding-block-start: 0;
	}

	.component--text,
	.component--image,
	.component--video,
	.component--quote {
		margin-inline: auto;
		max-inline-size: rem(711);
	}

	.component--quote {
		max-inline-size: rem(691);
	}
}