/*------------------------------------*\
    #Landing page
\*------------------------------------*/

.landing,
.ecosystem {
	#breadcrumb {
		background-color: $mist-gray;
	}

	main,
	#main {
		padding-block-start: 0;
	}

	.translations {
		padding: 0;
		// margin-block-start: 0;

		.sidebar span {
			padding-inline-end: 1em;
		}

		.l-sidebar .not-sidebar {
			padding-block-end: 0;
		}

		// + * {
		// 	margin-block-start: 2em;
		// }
	}

	.component--text,
	.component--image,
	.component--video,
	.component--quote {
		//margin-inline: auto;
		max-inline-size: rem(711);
	}

	.component--quote {
		max-inline-size: rem(691);
	}
}