/*------------------------------------*\
    #Listing templates
\*------------------------------------*/

.listing {

	.wrap {

		background-color: $mist-gray;

	}

	#breadcrumb {

		background-color: $white;

	}

	main,
	#main {

		padding-top: 0;

	}

}

.people-list,
.post-list {

	> * {

		padding-bottom: rem(30);
		padding-top: rem(40);

	}

	> * + * {

		border-top: solid 1px $border-color;

	}

	.l-sidebar .sidebar {

		flex-basis: auto;

	}

	.l-sidebar .not-sidebar {

		min-width: calc(70% - 1.5rem);

	}

	.l-sidebar .not-sidebar > div {

		max-width: rem($text-measure);

		> * + * {

			margin-top: rem(20);

		}

	}

	.l-cluster > * {

		align-items: center;

	}

	.l-cluster a {

		display: inline-block;
		padding: rem(12) 0;

	}

}

.people-list {

	.l-sidebar .sidebar {

		order: -1;

		img {

			width: rem(100);

		}

	}

	.groups .sidebar {

		flex-basis: auto;

	}

	.groups .sidebar h3 {

		font-size: 1rem;
		font-weight: normal;
		line-height: rem(44);

	}

	.l-cluster > *,
	.l-cluster.l-cluster > * > * {

		margin-bottom: 0;
		margin-top: 0;

	}

}

.post-list {

	> li:last-child {

		border-bottom: solid 1px $border-color;

	}

	.l-sidebar .not-sidebar > div {

		@include mq($bp-tab-large) {

			margin-bottom: rem(40);

		}

	}

	.l-sidebar .sidebar .l-frame {

		height: rem(146);
		width: rem(200);

		img {

			border-radius: rem(4);

		}

	}

	h2 a {

		color: $black;

		.icon {

			height: 0.8em;
			width: 0.8em;

		}

	}

}

.event-list,
.member-list,
.group-list,
.tr-stats-list {

	margin-top: rem(40);

	> * + * {

		margin-top: 1rem;

	}

	.card {

		padding: 1rem;

	}

	.card.l-sidebar .sidebar {

		flex-basis: auto;

	}

	.card.l-sidebar .not-sidebar {

		min-width: calc(70% - 1.5rem);

	}

	.card__text {

		padding-top: 0;

	}

}

.event-list {

	.card .l-cluster > * {

		@include txt-pluto;

		align-items: center;

	}

	.card.l-sidebar .l-sidebar .sidebar {

		flex-basis: rem(320);

	}

	.card.l-sidebar .l-sidebar .not-sidebar {

		min-width: calc(55% - 1.5rem);

	}

	.card__image {

		align-self: flex-start;
		height: rem(100);
		width: rem(100);

		@include mq($bp-tab-large) {

			height: rem(200);
			width: rem(200);

		}

	}

	.card__image img {

		border-radius: 0;

	}

	.date-location {

		@include txt-pluto;

		display: flex;
		flex-wrap: nowrap;
		max-width: rem(300);

	}

	.date-location img {

		margin-inline-end: rem(12);
		width: rem(18);

	}

	.date-location .date-orig {

		display: inline-block;
		padding-bottom: rem(10);

	}

	.date-location > div:last-child {

		border-inline-start: solid 1px $border-color;
		padding-inline-start: rem(12);

	}

}

.member-list {

	.card__text > * {

		max-width: rem($text-measure);

	}

	.logo--member {

		margin-left: auto;
		margin-right: auto;

	}

}

.js .member-list {

	[data-component="card"] .card__text > :last-child {

		margin-bottom: rem(40);
		margin-top: 0;

	}

}

.group-list {

	margin-top: 0;

}

.archive-links h2 + * {

	margin-top: 0.8em;

}
