/*------------------------------------*\
    #Listing templates
\*------------------------------------*/

.listing {
	.wrap {
		background-color: $mist-gray;
	}

	#breadcrumb {
		background-color: $white;
	}

	main,
	#main {
		padding-block-start: 0;
	}
}

.people-list,
.post-list {
	> * + * {
		border-block-start: solid 1px $border-color;
	}
}

.people-list {
	.groups .sidebar {
		flex-basis: auto;
	}

	.groups .sidebar h3 {
		font-size: 1rem;
		font-weight: normal;
		line-height: rem(44);
	}
}

.post-list {
	> * {
		padding-block-end: rem(30);
		padding-block-start: rem(40);
	}

	> li:last-child {
		border-block-end: solid 1px $border-color;
	}

	.l-sidebar .sidebar {
		flex-basis: auto;
	}

	.l-sidebar .not-sidebar {
		min-inline-size: calc(70% - 1.5rem);
	}

	.l-sidebar .not-sidebar > div {
		max-inline-size: rem($text-measure);

		// @include mq($bp-tab-large) {
		// 	margin-block-end: rem(40);
		// }

		// > * + * {
		// 	margin-block-start: rem(20);
		// }
	}

	.l-sidebar .sidebar .l-frame {
		block-size: rem(146);
		inline-size: rem(200);

		img {
			border-radius: rem(4);
		}
	}

	.l-cluster > * {
		align-items: center;
	}

	.l-cluster a {
		display: inline-block;
		padding: rem(12) 0;
	}

	h2 a {
		color: $black;

		.icon {
			block-size: 0.8em;
			inline-size: 0.8em;
		}
	}
}

.event-list,
.member-list,
.group-list,
.tr-stats-list {
	// margin-block-start: rem(40);

	// > * + * {
    //     margin-block-start: 1rem;
	// }

	.card {
		padding: 1rem;
	}

	.card.l-sidebar .sidebar {
		flex-basis: auto;
	}

	.card.l-sidebar .not-sidebar {
		min-inline-size: calc(70% - 1.5rem);
	}

	// .card__text {
	// 	padding-block-start: 0;
	// }
}

.event-list {
	.card .l-cluster {
		// margin-block-start: 1rem;
	}

	.card .l-cluster > * {
		//@include txt-pluto;
		align-items: center;
		font-size: var(--w3c-text-01);
	}

	.card.l-sidebar .l-sidebar .sidebar {
		flex-basis: rem(320);
	}

	.card.l-sidebar .l-sidebar .not-sidebar {
		min-inline-size: calc(55% - 1.5rem);
	}

	.card__image {
		align-self: flex-start;
		block-size: rem(100);
		inline-size: rem(100);

		@include mq($bp-tab-large) {
            block-size: rem(200);
            inline-size: rem(200);
		}
	}

	.card__image img {
		border-radius: 0;
	}

	.date-location {
		//@include txt-pluto;
		display: flex;
		flex-wrap: nowrap;
		font-size: var(--w3c-text-01);
		max-inline-size: rem(300);
	}

	.date-location img {
        inline-size: rem(18);
		margin-inline-end: rem(12);
	}

	.date-location .date-orig {
		display: inline-block;
		padding-block-end: rem(10);
	}

	.date-location > div:last-child {
		border-inline-start: solid 1px $border-color;
		padding-inline-start: rem(12);
	}
}

.member-list {
	.card__text > * {
		max-inline-size: rem($text-measure);
	}

	.logo--member {
		margin-inline: auto;
	}
}

.js .member-list {
	[data-component="card"] .card__text > :last-child {
		margin-block-end: rem(40);
		margin-block-start: 0;
	}
}

// .group-list {
//     margin-block-start: 0;
// }

// .archive-links h2 + * {
//     margin-block-start: 0.8em;
// }