/*------------------------------------*\
    #Post template
\*------------------------------------*/

.post .content,
.post .rss {
	max-inline-size: rem(752);
}

@supports(grid-column-gap: 8%) {
	.post .content {
        max-inline-size: none;

		@include mq($bp-tab-large) {
			display: grid;
			grid-column-gap: 7.857%;
			grid-template-columns: 67.143% 25%;
			grid-template-areas: "article related";
		}
	}

	.post .content article {
		@include mq($bp-tab-large) {
			grid-area: article;
		}
	}

	.post .content .related {
		@include mq($bp-tab-large) {
			grid-area: related;
		}
	}
}

// .post .related {
// 	margin-block-start: rem(40);
// }

// @supports(grid-column-gap: 8%) {
// 	.post .content .related {
// 		@include mq($bp-tab-large) {
// 			margin-block-start: 0;
// 		}
// 	}
// }

.post .related__inner {
	background-color: $mist-gray;
	padding: rem(28) rem(20);

	h2 {
		font-size: var(--w3c-text-1);
	}

	h3 {
		font-size: var(--w3c-text-0);
	}

	a {
		color: $storm-gray;

		&:focus {
			color: $black;
		}
	}
}

// .post .related__inner > div,
// .post .related__inner h3 + * {
// 	margin-block-start: rem(18);
// }

.post .related__inner > div + div {
	border-block-start: solid 1px $border-color;
	// margin-block-start: rem(24);
	padding-block-start: rem(15);
}

.post .related__inner li {
	//@include txt-pluto;
	font-size: var(--w3c-text-01);

	// + li {
	// 	margin-block-start: rem(22);
	// }
}

.post {
	.sub-head {
		//@include txt-pluto;
		font-size: var(--w3c-text-01);
		margin-block-end: rem(30);
		margin-block-start: rem(-20);
	}

	.meta {
		position: relative;
	}

	.meta dl {
		dd:first-of-type {
			@include mq($bp-tab-small) {
				padding-inline-end: rem(150);
			}
		}

		// dd, dt {
		// 	margin: 0;
		// 	padding-block-end: rem(8);
		// 	padding-block-start: rem(5);
		// }

		// dt:first-of-type,
		// dd:first-of-type {
		// 	padding-block-start: rem(8);
		// }

		dt {
			float: left;
			font-weight: normal;
			margin-inline-end: 1em;
		}
	}

	.skip-to-comments,
	.skip-to-comment-form {
		color: $storm-gray;
		display: inline-block;
		padding-block: rem(11);
		text-decoration: underline;

		&:visited {
			color: $storm-gray;
		}

		&:focus {
			background-color: $focus-color;
			background-image: linear-gradient(to top, $black 3px, $focus-color 3px, $focus-color);
			color: $black;
			text-decoration: none;
		}
	}

	.skip-to-comments {
		@include mq($bp-tab-small) {
			position: absolute;
            inset-block-start: rem(19);
			inset-inline-end: 0;
		}
	}

	.rss {
		border-block-start: solid 1px $border-color;
		padding-block-start: rem(40);
	}
}

[dir="rtl"] {
	.post .meta dl {
		dt {
			float: right;
		}
	}
}

.post__notes {
	border-block-start: solid 1px $border-color;
	margin-block-start: rem(60);
	padding-block-start: rem(20);

	h3 {
		@extend .txt-saturn;
	}
}