/*------------------------------------*\
    #Technical reports (TR)
\*------------------------------------*/

.technical-reports {

	.wrap {

		background-color: $white;

	}

	.hero {

		background-color: $white;
		margin-bottom: rem(20);
		padding-bottom: rem(40);

		.l-box {

			background-color: #f3f3f6;
			border-radius: rem(4);

		}

		.field {

			max-width: none;

		}

		.field-hint {

			color: $off-black;

		}

	}

	.checkbox-item label::before,
	.radio-item label::before {

		background-color: $white;

	}

}

.tr-list {

	.tr-list__item {

		@include stack(0.5em);

		@include txt-pluto;

		padding-bottom: rem(24);
		padding-top: rem(24);

		> * {

			max-width: rem(820);

		}

	}

	.tr-list__item h3 {

		@include txt-mars;

	}

	.tr-list__item + .tr-list__item {

		border-top: 1px solid $twiki-gray;

	}

	.tr-list__item__header {

		@include stack;

		align-items: flex-start;

		h3 {

			margin-top: rem(5);

		}

		h3 + * {

			margin-top: 0;
			order: -1;

		}

	}

}