/*------------------------------------*\
    #Technical reports (TR)
\*------------------------------------*/

.technical-reports {
	.wrap {
		background-color: $white;
	}

	.hero {
		background-color: $white;
		margin-block-end: rem(20);
		padding-block-end: 0;

		.l-box {
			background-color: #f3f3f6;
			border-radius: rem(4);
		}

		.field {
			max-width: none;
		}

		.field-hint {
			color: $off-black;
		}
	}

	.checkbox-item label::before,
	.radio-item label::before {
		background-color: $white;
	}

    // Close visual gap between end of visible text and CSS-inserted colon caused by visuallyhidden <span>
    // Only works while there is a single visuallyhidden <span> as the last child in the <dt>
    .translation-list dt:has(span.visuallyhidden)::after {
        margin-inline-start: rem(-4);
    }
}

.tr-list {
	.tr-list__item {
		@include stack(0.5em);
		@include txt-pluto;
		border-block-end: 1px solid $twiki-gray;
		padding-block-end: rem(8);
		padding-block-start: rem(20);

		> * {
			max-width: rem(820);
		}
	}

	.tr-list__item h3 {
		@include txt-mars;
	}

	.tr-list__item__header {
		@include stack;
		align-items: flex-start;

		h3 {
			margin-block-end: 0;
			margin-block-start: rem(5);
		}

		h3 + * {
            margin-block-start: 0;
			order: -1;
		}
	}
}