/*------------------------------------*\
    #Apollo: advanced styles for browsers selected by mustard cut
\*------------------------------------*/

/*------------------------------------*\
    #Settings
\*------------------------------------*/
@import "sass/00-settings/breakpoints";
@import "sass/00-settings/colors";
//@import "sass/00-settings/debug";
@import "sass/00-settings/paths";
@import "sass/00-settings/typesetting";



/*------------------------------------*\
    #Functions
\*------------------------------------*/
@import "sass/10-functions/maths";
@import "sass/10-functions/units";



/*------------------------------------*\
    #Mixins
\*------------------------------------*/
@import "sass/20-mixins/font-sizes";
@import "sass/20-mixins/media-query";
@import "sass/20-mixins/stack";



/*------------------------------------*\
    #Base

    Repeated to allow for extending placeholders
\*------------------------------------*/
@import "sass/30-base/hide-and-show";



/*------------------------------------*\
    #Advanced components

    For JS enhancements
\*------------------------------------*/
@import "sass/60-advanced-components/header";
@import "sass/60-advanced-components/navigation";
@import "sass/60-advanced-components/collapsibles";
@import "sass/60-advanced-components/cards";
@import "sass/60-advanced-components/hero";
@import "sass/60-advanced-components/slider";
@import "sass/60-advanced-components/disclosure-widget";
@import "sass/60-advanced-components/comments";
@import "sass/60-advanced-components/multiselect";


/*------------------------------------*\
    #Plugins

    Add third-party plugins here.
\*------------------------------------*/
@import "sass/70-third-party-plugins/accessible-autocomplete";