<div class="global-header">
    <div class="banner banner--access-control acl-user">
        <div class="banner__inner l-center">
            <img class="icon" src="/dist/assets/svg/lock.svg" width="20" height="20" alt
                       aria-hidden="true"/>
            <p>This page is restricted to you</p>
        </div>
    </div>

    <div class="banner banner--access-control acl-member">
        <div class="banner__inner l-center">
            <img class="icon" src="/dist/assets/svg/lock.svg" width="20" height="20" alt
                 aria-hidden="true"/>
            <p>This page is restricted to W3C Members</p>
        </div>
    </div>

    <div class="banner banner--access-control acl-team">
        <div class="banner__inner l-center">
            <img class="icon" src="/dist/assets/svg/lock.svg" width="20" height="20" alt
                 aria-hidden="true"/>
            <p>This page is restricted to W3C Staff</p>
        </div>
    </div>

    <div class="banner banner--access-control acl-private">
        <div class="banner__inner l-center">
            <img class="icon" src="/dist/assets/svg/lock.svg" width="20" height="20" alt
                 aria-hidden="true"/>
            <p>This page is restricted</p>
        </div>
    </div>
</div>
