<div class="l-cluster component--members__cta">
	<div>
		<p>Ways to get involved:</p>
		<a class="button button--alt" href="#1">Join</a>
		<a class="button button--alt" href="#2">Donate</a>
	</div>
</div>