<div class="event-list">
	<div class="card card--event meeting" data-component="card">
		<div class="card__text">
			<div class="l-sidebar">
				<div>
					<div class="not-sidebar">
						<h2 class="card__heading"><a class="card__link" href="path/to/event">Advisory Committee Meeting</a></h2>
						<p>This is an example of a meeting type event card. This is the excerpt text.</p>
					</div>
					<div class="sidebar">
						<div class="date-location">
							<div>
								<img src="/dist/assets/svg/calendar.svg" width="18" height="20" alt aria-hidden="true" />
							</div>
							<div>
								<p class="date-orig"><time datetime="2021-01-28T18:00Z">28 January 2021, 18:00 - 19:30 UTC</time></p>
								<p>Online</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<p class="txt-pluto"><a href="path/to/category">Category link</a></p>
			<p class="txt-pluto">Meeting</p>
		</div>
	</div>
</div>