<div class="card" data-component="card">
	<div class="card__text">
		<h3 class="card__heading"><a href="path/to/page" class="card__link">W3C starts web payments standards work</a></h3>
		<p>New working group launched to make payments easier and more secure.</p>
		<p class="txt-pluto">News</p>
	</div>
	<div class="l-frame l-frame--16-9 card__image">
		<img src="/assets/images/temp-developers-920.jpg"
		     srcset="/assets/images/temp-developers-360.jpg 360w, /assets/images/temp-developers-580.jpg 580w, /assets/images/temp-developers-700.jpg 700w, /assets/images/temp-developers-920.jpg 920w, /assets/images/temp-developers-1520.jpg 1520w"
		     sizes="(min-width: 64em) 33vw, (min-width: 48em) 50vw, 100vw"
		     loading="lazy"
		     alt="A Macbook screen with code, as seen from over the developer's shoulder" />
	</div>
</div>