<figure class="slide">
	<blockquote class="slide__quote">
		<p>The School of Informatics at the University of Edinburgh is a world leader in research and teaching in Computer Science, Artificial Intelligence and Cognitive Science.</p>
		<p>W3C technologies are both used and studied here, and we are proud to contribute to their development.</p>
	</blockquote>
	<figcaption class="slide__cite l-sidebar">
		<div>
			<div class="sidebar">
				<div class="slide__logo">
					<img src="/dist/assets/images/edinburgh-uni.png" alt="The University of Edinburgh" loading="lazy" />
				</div>
			</div>
			<div class="not-sidebar">
				<p>Dierdre De Veloper</p>
				<p>Lead Dev</p>
			</div>
		</div>
	</figcaption>
</figure>