<style>
	.highlight__header {
		align-self: flex-end;
	}
</style>

<div class="l-cover highlight">
	<p class="highlight__header">&quot;Header&quot; content, e.g. a close button</p>
	<h1 class="principal txt-venus u-center">The principal content</h1>
	<p>&quot;Footer&quot; content</p>
</div>