<figure class="component component--fifty-fifty">
	<div class="illustration">
		<div class="l-frame">
			<img src="/dist/assets/svg/illustration-join.svg" alt role="presentation" />
		</div>
	</div>
	<figcaption>
		<h2 class="txt-earth">The Open Web Platform is Transforming Payments</h2>
		<p>To help ensure that the Web evolves to meet new industry needs, we're convening banks, processors, regulators, card networks, e-commerce companies, telecom operators, multiple service vendors, browser and software vendors and others who are shaping the way Web Payments are developed.</p>
		<div class="l-box l-box--no-border l-box--no-padding">
			<a class="button button--alt" href="path/to/page">An optional link</a>
			<a href="path/to/page">Another optional link</a>
		</div>
	</figcaption>
</figure>