<div class="u-full-width hero hero--listing">
	<div class="l-center">
		<h1>Events</h1>
		<p class="lead">A very short introduction/summary of the page.</p>

		<form class="l-switcher filters" novalidate>
			<div>
				<div>
					<div class="field">
						<label for="filter-event-type">
							<span class="faux-label">Event type</span>
						</label>
						<select id="filter-event-type" name="filter-event-type">
							<option value="">All</option>
							<option value="conference">Conference</option>
							<option value="meeting">Meeting</option>
							<option value="AC meeting">-- AC Meeting</option>
							<option value="TPAC meeting">-- TPAC Meeting</option>
							<option value="talk">Talk</option>
							<option value="workshop">Workshop</option>
						</select>
					</div>
				</div>
				<div>
					<div class="field">
						<label for="filter-event-cat">
							<span class="faux-label">Category</span>
						</label>
						<select id="filter-event-cat" name="filter-event-cat">
							<option value="">All</option>
							<option value="cat1">Category 1</option>
							<option value="cat2">Category 2</option>
							<option value="cat3">Category 3</option>
							<option value="cat4">Category 4</option>
						</select>
					</div>
				</div>
				<div>
					<div class="input-group">
						<button class="button" type="submit">Show results</button>
						<button class="button button--ghost" type="reset">Clear all</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>