<div class="u-full-width hero hero--listing">
	<div class="l-center">
		<h1>People</h1>
		<p class="lead">A very short introduction/summary of the page.</p>

		<form class="l-switcher filters" novalidate>
			<div>
				<div>
					<div class="field">
						<label for="filter-wg">
							<span class="faux-label">Working Group</span>
						</label>
						<select id="filter-wg" name="filter-wg">
							<option value="">All Working Groups</option>
							<option value="CWIG">Chinese Web Interest Group</option>
							<option value="IIG">Internationalization Interest Group</option>
							<option value="MEIG">Media and Entertainment Interest Group</option>
							<option value="PASIG">Patents and Standards Interest Group</option>
							<option value="PIG">Privacy Interest Group</option>
							<option value="SDOTWIG">Spatial Data on the Web Interest Group</option>
							<option value="WAIIG">WAI Interest Group</option>
							<option value="WANIG">Web and Networks Interest Group</option>
							<option value="WOTIG">Web of Things Interest Group</option>
							<option value="WPSIG">Web Payment Security Interest Group</option>
							<option value="EOWG">Accessibility Education and Outreach Working Group (EOWG)</option>
							<option value="AGWG">Accessibility Guidelines Working Group</option>
							<option value="APAWG">Accessible Platform Architectures Working Group</option>
							<option value="ARIAWG">Accessible Rich Internet Applications Working Group</option>
							<option value="AudioWG">Audio Working Group</option>
							<option value="AudiobooksWG">Audiobooks Working Group</option>
							<option value="AutomotiveWG">Automotive Working Group</option>
							<option value="BTATWG">Browser Testing and Tools Working Group</option>
							<option value="CSSWG">Cascading Style Sheets (CSS) Working Group</option>
							<option value="DEWG">Dataset Exchange Working Group</option>
							<option value="DIWG">Decentralized Identifier Working Group</option>
							<option value="DASWG">Devices and Sensors Working Group</option>
							<option value="DTWG">Distributed Tracing Working Group</option>
							<option value="EPUB3WG">EPUB 3 Working Group</option>
							<option value="GPUWG">GPU for the Web Working Group</option>
							<option value="HTMLWG">HTML Working Group</option>
							<option value="IWWG">Immersive Web Working Group</option>
							<option value="IWG">Internationalization Working Group</option>
							<option value="JSON-LDWG">JSON-LD Working Group</option>
							<option value="MathWG">Math Working Group</option>
							<option value="MediaWG">Media Working Group</option>
							<option value="MAWG">MiniApps Working Group</option>
							<option value="PEWG">Pointer Events Working Group</option>
							<option value="SSWG">Second Screen Working Group</option>
							<option value="SWWG">Service Workers Working Group</option>
							<option value="SVGWG">SVG Working Group</option>
							<option value="TTWG">Timed Text Working Group</option>
							<option value="VCWG">Verifiable Credentials Working Group</option>
							<option value="WASWG">Web Application Security Working Group</option>
							<option value="WebAppWG">Web Applications Working Group</option>
							<option value="WebAuthWG">Web Authentication Working Group</option>
							<option value="WFWG">Web Fonts Working Group</option>
							<option value="WMLWG">Web Machine Learning Working Group</option>
							<option value="WOTWG">Web of Things Working Group</option>
							<option value="WPWG">Web Payments Working Group</option>
							<option value="WebPerfWG">Web Performance Working Group</option>
							<option value="WebPlatformWG">Web Platform Working Group</option>
							<option value="WRTCWG">Web Real-Time Communications Working Group</option>
							<option value="WebAssemblyWG">WebAssembly Working Group</option>
							<option value="WTWG">WebTransport Working Group</option>
						</select>
					</div>
				</div>
				<div>
					<div class="input-group">
						<button class="button" type="submit">Show results</button>
						<button class="button button--ghost" type="reset">Clear all</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>