<p class="txt-mercury">txt-mercury</p>

<p class="txt-venus">txt-venus</h2>

<p class="txt-earth">txt-earth</p>

<p class="txt-mars">txt-mars</p>

<p class="txt-jupiter">txt-jupiter</p>

<p class="txt-saturn">txt-saturn</p>

<p class="txt-pluto">txt-pluto</p>

<p class="txt-eris">txt-eris</p>