<form novalidate>
	<div class="field">
		<fieldset role="group" aria-describedby="hint-things-you-like">
			<legend class="group-legend">Things you like</legend>
			<div class="field-hint" id="hint-things-you-like">Select all that apply.</div>
			<div class="checkbox-item">
				<input type="checkbox" name="chocolate" id="chocolate" appearance="base">
				<label for="chocolate">
					<span class="faux-label">Chocolate</span>
				</label>
			</div>

			<div class="checkbox-item">
				<input type="checkbox" name="coffee" id="coffee" appearance="base">
				<label for="coffee">
					<span class="faux-label">Coffee</span>
				</label>
			</div>

			<div class="checkbox-item">
				<input type="checkbox" name="cake" id="cake" appearance="base">
				<label for="cake">
					<span class="faux-label">Cake</span>
				</label>
			</div>

			<div class="checkbox-item">
				<input type="checkbox" name="chips" id="chips" appearance="base" aria-describedby="hint-chips">
				<label for="chips">
					<span class="faux-label">Chips</span>
				</label>
				<div class="field-hint" id="hint-chips">Fries or frites, not crisps.</div>
			</div>
		</fieldset>
	</div>
</form>