<div class="l-box">
	<label for="search">
		<span class="field-label">Search</span>
	</label>
	<div class="l-sidebar search">
		<form role="search" novalidate>
			<div class="not-sidebar">
				<input type="search" id="search" name="search">
			</div>
			<div class="sidebar">
				<button type="submit" class="button" name="search">Search</button>
			</div>
		</form>
	</div>
</div>