<form novalidate>
	<div class="field">
		<label for="arrival-date">
			<span class="field-label">Date of arrival</span>
		</label>
		<div class="field-hint" id="hint-arrival-date">For example 30/05/2021</div>
		<input type="text" class="input-width-10" id="arrival-date" name="arrival-date" aria-describedby="hint-arrival-date">
	</div>

	<div class="field">
		<fieldset role="group" aria-describedby="hint-date-of-birth">
			<legend>
				<span class="field-label">Date of birth (an example of a memorable date)</span>
			</legend>
			<div class="field-hint u-no-margin-top" id="hint-date-of-birth">For example 20 07 1972</div>
			<div class="memorable-date">
				<label for="bday-day" class="faux-label">Day</label>
				<input type="text" class="input-width-2" id="bday-day" name="bday-day" autocomplete="bday-day" pattern="[0-9]*" inputmode="numeric" min="0" max="31">
			</div>
			<div class="memorable-date">
				<label for="bday-month" class="faux-label">Month</label>
				<input type="text" class="input-width-2" id="bday-month" name="bday-month" autocomplete="bday-month" pattern="[0-9]*" inputmode="numeric" min="1" max="12">
			</div>
			<div class="memorable-date">
				<label for="bday-year" class="faux-label">Year</label>
				<input type="text" class="input-width-4" id="bday-year" name="bday-year" autocomplete="bday-year" pattern="[0-9]*" inputmode="numeric" min="1900" max="2050">
			</div>
		</fieldset>
	</div>

	<div class="field">
		<fieldset role="group" aria-describedby="hint-meeting-time">
			<legend>
				<span class="field-label">Specify a start time for your meeting</span>
			</legend>
			<div class="field-hint u-no-margin-top" id="hint-meeting-time">Use <dfn id="utc"><abbr title="Coordinated Universal Time">UTC</abbr></dfn> and your local time zone</div>
			<div class="input-group">
				<div>
					<label for="meeting-time" class="faux-label">Start time</label>
					<input type="text" class="input-width-5" id="meeting-time" name="meeting-time">
				</div>
				<div>
					<label for="meeting-time" class="faux-label">Time zone</label>
					<select id="timezone" name="timezone">
						<option value="UTC−12:00">UTC−12:00</option>
						<option value="UTC−11:00">UTC−11:00</option>
						<option value="UTC−10:00">UTC−10:00</option>
						<option value="UTC−09:30">UTC−09:30</option>
						<option value="UTC−09:00">UTC−09:00</option>
						<option value="UTC−08:00">UTC−08:00</option>
						<option value="UTC−07:00">UTC−07:00</option>
						<option value="UTC−06:00">UTC−06:00</option>
						<option value="UTC−05:00">UTC−05:00</option>
						<option value="UTC−04:00">UTC−04:00</option>
						<option value="UTC−03:30">UTC−03:30</option>
						<option value="UTC−03:00">UTC−03:00</option>
						<option value="UTC−02:00">UTC−02:00</option>
						<option value="UTC−01:00">UTC−01:00</option>
						<option value="UTC±00:00" selected>UTC±00:00</option>
						<option value="UTC+01:00">UTC+01:00</option>
						<option value="UTC+02:00">UTC+02:00</option>
						<option value="UTC+03:00">UTC+03:00</option>
						<option value="UTC+03:30">UTC+03:30</option>
						<option value="UTC+04:00">UTC+04:00</option>
						<option value="UTC+04:30">UTC+04:30</option>
						<option value="UTC+05:00">UTC+05:00</option>
						<option value="UTC+05:30">UTC+05:30</option>
						<option value="UTC+05:45">UTC+05:45</option>
						<option value="UTC+06:00">UTC+06:00</option>
						<option value="UTC+06:30">UTC+06:30</option>
						<option value="UTC+07:00">UTC+07:00</option>
						<option value="UTC+08:00">UTC+08:00</option>
						<option value="UTC+08:45">UTC+08:45</option>
						<option value="UTC+09:00">UTC+09:00</option>
						<option value="UTC+09:30">UTC+09:30</option>
						<option value="UTC+10:00">UTC+10:00</option>
						<option value="UTC+10:30">UTC+10:30</option>
						<option value="UTC+11:00">UTC+11:00</option>
						<option value="UTC+12:00">UTC+12:00</option>
						<option value="UTC+12:45">UTC+12:45</option>
						<option value="UTC+13:00">UTC+13:00</option>
						<option value="UTC+14:00">UTC+14:00</option>
					</select>
				</div>
			</div>
		</fieldset>
	</div>
</form>