<section>
	<h2 class="visuallyhidden">Form progress</h2>
	<ol class="clean-list progress-list" role="list">
		<li class="progress-step complete">
			<span class="visuallyhidden">Completed: </span>
			<a href="" class="progress-step__inner">
				<div class="progress-step__marker complete" aria-hidden="true">1</div>
				<span>Delivery address</span>
			</a>
		</li>
		<li class="progress-step" aria-current="step">
			<div class="progress-step__inner">
				<div class="progress-step__marker" aria-hidden="true">2</div>
				<span>Billing address</span>
			</div>
		</li>
		<li class="progress-step">
			<div class="progress-step__inner">
				<div class="progress-step__marker" aria-hidden="true">3</div>
				<span>Payment details</span>
			</div>
		</li>
		<li class="progress-step">
			<div class="progress-step__inner">
				<div class="progress-step__marker" aria-hidden="true">4</div>
				<span>Confirmation</span>
			</div>
		</li>
	</ol>
</section>