<form novalidate>
	<div class="field segmented-group-wrapper">
		<fieldset role="group" aria-describedby="hint-segmented-options">
			<legend class="group-legend">Segmented options (Radio)</legend>
			<div class="field-hint" id="hint-segmented-options">We understand that different people enjoy books in different ways, which is why we’re giving you lots of options.</div>
			<div class="l-switcher segmented-group">
				<div>
					<div>
						<input type="radio" class="input--radio" id="segmented-option-1" name="segmented-options">
						<label for="segmented-option-1">
                            <span class="segmented-label">
                                <span>Budget option</span>
                                <span>Copy to explain this option in more detail.</span>
                            </span>
						</label>
					</div>
					<div>
						<input type="radio" class="input--radio" id="segmented-option-2" name="segmented-options" checked>
						<label for="segmented-option-2">
                            <span class="segmented-label">
                                <span>Value option</span>
                                <span>Copy to explain this option in more detail.</span>
                            </span>
						</label>
					</div>
					<div>
						<input type="radio" class="input--radio" id="segmented-option-3" name="segmented-options">
						<label for="segmented-option-3">
                            <span class="segmented-label">
                                <span>Expensive option</span>
                                <span>Copy to explain this option in more detail.</span>
                            </span>
						</label>
					</div>
				</div>
			</div>
		</fieldset>
	</div>
</form>