<form novalidate>
	<div class="field">
		<label for="width-30">
			<span class="field-label">30 character width</span>
		</label>
		<input type="text" class="input-width-30" id="width-30" name="width-30">
	</div>
	<div class="field">
		<label for="width-20">
			<span class="field-label">20 character width</span>
		</label>
		<input type="text" class="input-width-20" id="width-20" name="width-20">
	</div>
	<div class="field">
		<label for="width-10">
			<span class="field-label">10 character width</span>
		</label>
		<input type="text" class="input-width-10" id="width-10" name="width-10">
	</div>
	<div class="field">
		<label for="width-5">
			<span class="field-label">5 character width</span>
		</label>
		<input type="text" class="input-width-5" id="width-5" name="width-5">
	</div>
	<div class="field">
		<label for="width-4">
			<span class="field-label">4 character width</span>
		</label>
		<input type="text" class="input-width-4" id="width-4" name="width-4">
	</div>
	<div class="field">
		<label for="width-3">
			<span class="field-label">3 character width</span>
		</label>
		<input type="text" class="input-width-3" id="width-3" name="width-3">
	</div>
	<div class="field">
		<label for="width-2">
			<span class="field-label">2 character width</span>
		</label>
		<input type="text" class="input-width-2" id="width-2" name="width-2">
	</div>
</form>