<form novalidate>
	<div class="field">
		<label for="sort">
			<span class="field-label">Sort by</span>
		</label>
		<select id="sort" name="sort">
			<option value="published">Recently published</option>
			<option value="updated" selected>Recently updated</option>
			<option value="views">Most views</option>
			<option value="comments">Most comments</option>
		</select>
	</div>
</form>