<style>
	figure {
		max-width: 25rem;
	}
</style>

<figure>
	<div class="l-frame l-frame--16-9">
		<img src="/dist/assets/images/temp-developers-1520.jpg" alt>
	</div>
	<figcaption>An example of the 16:9 frame modifier</figcaption>
</figure>