<header class="global-header">
	<span role="status" aria-live="polite"></span>
	<div class="banner">
		<div class="banner__inner l-center">
			<p>This is a new website. <a href="https://github.com/w3c/w3c-website">Give feedback</a> to help us improve it.</p>
		</div>
	</div>
	<nav id="lang-nav" aria-label="Language options">
		<div class="l-center">
			<div class="l-cluster">
				<ul>
					<li><a href="/ja" hreflang="ja" lang="ja">日本語ホームページ<span class="visuallyhidden" lang="en"> (Japanese website)</span></a></li>
                    <li><a href="/zh" hreflang="zh-hans" lang="zh-hans">简体中文首页<span class="visuallyhidden" lang="en"> (Chinese website)</span></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<nav id="global-nav" aria-label="Main">
		<div class="global-nav__inner l-center">
			<a class="logo-link" href="/">
                <span class="logo">
                    <img src="https://www.w3.org/assets/logos/w3c-2025/svg/w3c.svg" alt="W3C" role="img"/>
                </span>
				<span class="visuallyhidden">Visit the W3C homepage</span>
			</a>
			<button type="button" class="button button--ghost with-icon--after with-icon--larger" data-trigger="mobile-nav" style="display: none;"></button>
			<ul data-component="nav-double-intro">
				<li class="top-nav-item has-children">
					<a href="path/to/page" class="nav-link">Standards &amp; groups</a>
					<div class="nav__submenu" data-nav="submenu" style="display: none;">
						<div class="l-center">
							<div class="nav__submenu__intro">
								<h2 class="nav__submenu__intro__heading">Standards &amp; groups</h2>
								<div class="nav__submenu__intro__text">
									<p>Understand the various specifications, their maturity levels on the Web Standards track, and their adoption, and the groups that develop them.</p>
									<a href="path/to/page">Explore Web Standards</a>
								</div>
							</div>
							<ul>
								<li>
									<a href="path/to/page">About W3C web standards</a>
								</li>
								<li>
									<a href="path/to/page">W3C standards &amp; drafts</a>
								</li>
								<li>
									<a href="path/to/page">Types of documents W3C publishes</a>
								</li>
								<li>
									<a href="path/to/page">W3C groups</a>
								</li>
								<li>
									<a href="path/to/page">Translations of W3C standards &amp; drafts</a>
								</li>
								<li>
									<a href="path/to/page">Reviews &amp; public feedback</a>
								</li>
								<li>
									<a href="path/to/page">Promote web standards</a>
								</li>
								<li>
									<a href="path/to/page">Liaisons</a>
								</li>
								<li>
									<a href="path/to/page">Technical Architecture Group (TAG)</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="top-nav-item has-children">
					<a href="path/to/page" class="nav-link">Get involved</a>
					<div class="nav__submenu" data-nav="submenu" style="display: none;">
						<div class="l-center">
							<div class="nav__submenu__intro">
								<h2 class="nav__submenu__intro__heading">Get involved</h2>
								<div class="nav__submenu__intro__text">
									<p>W3C works at the nexus of core technology, industry needs, and societal needs.</p>
									<a href="path/to/page">Find ways to get involved</a>
								</div>
							</div>
							<ul>
								<li>
									<a href="path/to/page">Browse our work by industry</a>
								</li>
								<li>
									<a href="path/to/page">Become a Member</a>
								</li>
								<li>
									<a href="path/to/page">Member home (restricted)</a>
								</li>
								<li>
									<a href="path/to/page">Support us</a>
								</li>
								<li>
									<a href="path/to/page">Mailing lists</a>
								</li>
								<li>
									<a href="path/to/page">Participant guidebook</a>
								</li>
								<li>
									<a href="path/to/page">Positive work environment</a>
								</li>
								<li>
									<a href="path/to/page">Invited Experts</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="top-nav-item has-children">
					<a href="path/to/page" class="nav-link">Resources</a>
					<div class="nav__submenu" data-nav="submenu" style="display: none;">
						<div class="l-center">
							<div class="nav__submenu__intro">
								<h2 class="nav__submenu__intro__heading">Resources</h2>
								<div class="nav__submenu__intro__text">
									<p>Master web fundamentals, use our developer tools, or contribute code.</p>
									<a href="path/to/page">Learn from W3C resources</a>
								</div>
							</div>
							<ul>
								<li>
									<a href="path/to/page">Developers</a>
								</li>
								<li>
									<a href="path/to/page">Validators and tools</a>
								</li>
								<li>
									<a href="path/to/page">Accessibility fundamentals</a>
								</li>
								<li>
									<a href="path/to/page">Internationalization (i18n)</a>
								</li>
								<li>
									<a href="path/to/page">Translations of W3C standards &amp; drafts</a>
								</li>
								<li>
									<a href="path/to/page">WCode of conduct</a>
								</li>
								<li>
									<a href="path/to/page">Reports</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="top-nav-item has-children">
					<a href="path/to/page" class="nav-link">News &amp; events</a>
					<div class="nav__submenu" data-nav="submenu" style="display: none;">
						<div class="l-center">
							<div class="nav__submenu__intro">
								<h2 class="nav__submenu__intro__heading">News &amp; events</h2>
								<div class="nav__submenu__intro__text">
									<p>Recent content across news, blogs, press releases, media; upcoming events.</p>
									<a href="path/to/page">Explore news and events</a>
								</div>
							</div>
							<ul>
								<li>
									<a href="path/to/page">News</a>
								</li>
								<li>
									<a href="path/to/page">Blog</a>
								</li>
								<li>
									<a href="path/to/page">Press releases</a>
								</li>
								<li class="break-after">
									<a href="path/to/page">Press &amp; media</a>
								</li>
								<li>
									<a href="path/to/page">Events</a>
								</li>
								<li>
									<a href="path/to/page">Annual W3C Conference (TPAC)</a>
								</li>
								<li>
									<a href="path/to/page">Code of conduct</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="top-nav-item has-children">
					<a href="path/to/page" class="nav-link">Support us</a>
					<div class="nav__submenu" data-nav="submenu" style="display: none;">
						<div class="l-center">
							<div class="nav__submenu__intro">
								<h2 class="nav__submenu__intro__heading">Support us</h2>
								<div class="nav__submenu__intro__text">
									<p>Make a huge difference to our operations as a public-interest non-profit, and help us to achieve our vision.</p>
								</div>
								<ul>
									<li>
										<a href="path/to/page">Ways you can support us</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li class="top-nav-item has-children">
					<a href="path/to/page" class="nav-link">About</a>
					<div class="nav__submenu" data-nav="submenu" style="display: none;">
						<div class="l-center">
							<div class="nav__submenu__intro">
								<h2 class="nav__submenu__intro__heading">About</h2>
								<div class="nav__submenu__intro__text">
									<p>Understand our values and principles, learn our history, look into our policies, meet our people.</p>
									<a href="path/to/page">Find out more about us</a>
								</div>
							</div>
							<ul>
								<li>
									<a href="path/to/page">Our mission</a>
								</li>
								<li>
									<a href="path/to/page">Support us</a>
								</li>
								<li>
									<a href="path/to/page">Leadership</a>
								</li>
								<li>
									<a href="path/to/page">Staff</a>
								</li>
								<li>
									<a href="path/to/page">Careers</a>
								</li>
								<li>
									<a href="path/to/page">Media kit</a>
								</li>
								<li>
									<a href="path/to/page">Diversity</a>
								</li>
								<li>
									<a href="path/to/page">Evangelists</a>
								</li>
								<li>
									<a href="path/to/page">Corporation</a>
								</li>
								<li>
									<a href="path/to/page">Policies &amp; legal information</a>
								</li>
								<li>
									<a href="path/to/page">Contact us</a>
								</li>
								<li>
									<a href="path/to/page">Help</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="top-nav-item">
					<a href="path/to/page" class="nav-link icon-link"><img class="icon" src="/dist/assets/svg/search.svg" width="24" height="24" alt aria-hidden="true"><span class="hide-at-max-width">Search</span></a>
				</li>
				<li class="top-nav-item">
					<a href="path/to/page" class="account-login icon-link with-icon--after">Sign in <span class="avatar avatar--small icon"><img src="/dist/assets/svg/avatar.svg" width="32" height="32" alt aria-hidden="true" /></span></a>
				</li>
			</ul>
		</div>
	</nav>
</header>
