<h2 style="margin-block-start: 0;">(Illustration hero)</h2>
<div class="u-full-width hero">
	<div class="l-center">
		<div class="l-sidebar">
			<div>
				<div class="not-sidebar">
					<h1>We believe in one web for all</h1>
					<p class="lead">We develop <a href="path/to/page">standards and guidelines</a> to help everyone build a web based on the principles of <a href="path/to/page">accessibility</a>, <a href="path/to/page">internationalization</a>, <a href="path/top/page">privacy</a> and <a href="path/top/page">security</a>.</p>
					<a href="path/to/page" class="button button--alt">Find out more about W3C</a>
				</div>
				<div class="sidebar">
					<img src="/dist/assets/svg/illustration-3.svg" alt />
				</div>
			</div>
		</div>
	</div>
</div>

<h2 style="margin-block-start: 0;">(Video hero)</h2>
<div class="u-full-width hero hero--video">
	<div class="l-center">
		<div class="l-sidebar">
			<div>
				<div class="not-sidebar">
					<h1>We believe in one web for all</h1>
					<p class="lead">We develop
						<a href="path/to/page">standards and guidelines</a>
						to help everyone build a web based on the principles of
						<a href="path/to/page">accessibility</a>,
						<a href="path/to/page">internationalization</a>,
						<a href="path/top/page">privacy</a>
						and
						<a href="path/top/page">security</a>.</p>
					<a href="path/to/page" class="button button--alt">Find out more about W3C</a>
				</div>
				<div class="sidebar">
					<div class="l-frame l-frame--16-9">
						<video controls loop muted playsinline preload="metadata" data-video="hero">
							<source src="https://videos.pexels.com/video-files/1481903/1481903-hd_1920_1080_25fps.mp4" type="video/mp4">
							Sorry, your browser does not support embedded videos. This is an animation of the W3C logo morphing into a new design.
						</video>
					</div>
					<button class="button js-play-video" data-video-control="hero" data-video-play="Play" data-video-pause="Pause">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" height="20" width="20" aria-hidden="true" focusable="false">
							<!--!Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
							<path class="play-icon" d="M187.2 100.9c-12.4-6.8-27.4-6.5-39.6.7-12.2 7.2-19.6 20.3-19.6 34.4v368c0 14.1 7.5 27.2 19.6 34.4 12.1 7.2 27.2 7.5 39.6.7l336-184c12.8-7 20.8-20.5 20.8-35.1 0-14.6-8-28.1-20.8-35.1l-336-184z"></path>
							<path class="pause-icon" d="M176 96c-26.5 0-48 21.5-48 48v352c0 26.5 21.5 48 48 48h64c26.5 0 48-21.5 48-48V144c0-26.5-21.5-48-48-48h-64zm224 0c-26.5 0-48 21.5-48 48v352c0 26.5 21.5 48 48 48h64c26.5 0 48-21.5 48-48V144c0-26.5-21.5-48-48-48h-64z"></path></svg>
						<span class="visuallyhidden">Pause</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>