<div class="u-full-width hero">
	<div class="l-center">
		<div class="l-sidebar">
			<div>
				<div class="not-sidebar">
					<h1>We believe in one web for all</h1>
					<p class="lead">We develop <a href="path/to/page">standards and guidelines</a> to help everyone build a web based on the principles of <a href="path/to/page">accessibility</a>, <a href="path/to/page">internationalization</a>, <a href="path/top/page">privacy</a> and <a href="path/top/page">security</a>.</p>
					<a href="path/to/page" class="button button--alt">Find out more about W3C</a>
				</div>
				<div class="sidebar">
					<img src="/dist/assets/svg/illustration-3.svg" role="img" alt />
				</div>
			</div>
		</div>
	</div>
</div>