<div class="u-full-width hero">
	<div class="l-center">
		<div class="l-sidebar">
			<div>
				<div class="not-sidebar">
					<h1>Hero title</h1>
					<p class="lead">A very short introduction/summary of the page.</p>
				</div>
				<div class="sidebar">
					<img src="/dist/assets/svg/illustration-2.svg" role="img" alt />
				</div>
			</div>
		</div>
	</div>
</div>