<figure class="component component--image">
	<div class="l-frame l-frame--16-9">
		<img src="/dist/assets/images/temp-developers-920.jpg"
		     srcset="/dist/assets/images/temp-developers-360.jpg 360w, /dist/assets/images/temp-developers-580.jpg 580w, /dist/assets/images/temp-developers-920.jpg 920w, /dist/assets/images/temp-developers-1520.jpg 1520w"
		     sizes="100vw"
		     loading="lazy"
		     alt="A Macbook screen with code, as seen from over the developer's shoulder" />
	</div>
	<figcaption>
		<p>The figcaption is not a replacement for the image's <code>alt</code> attribute. It should be used for providing relevant supporting content.</p>
	</figcaption>
</figure>