<div class="inline-list-container">
    <p>List:</p>
    <ul class="clean-list">
        <li><a href="...">item 1</a></li>
        <li><a href="...">item 2</a></li>
        <li><a href="...">item 3</a></li>
        <li><a href="...">item 4</a></li>
        <li><a href="...">item 5</a></li>
        <li><a href="...">item 6</a></li>
        <li><a href="...">item 7</a></li>
        <li><a href="...">item 8</a></li>
        <li><a href="...">item 9</a></li>
    </ul>
</div>