<dl class="inline">
	<div>
		<dt>Term</dt>
		<dd>Description</dd>
		<dd>Other description</dd>
	</div>
	<div>
		<dt>Term</dt>
		<dd>Description</dd>
		<dd>Other description</dd>
	</div>
	<div>
		<dt>Term</dt>
		<dd>Description</dd>
		<dd>Other description</dd>
	</div>
	<div>
		<dt>Term</dt>
		<dd>Description</dd>
		<dd>Other description</dd>
	</div>
</dl>
