<div class="people-list">

	<div class="l-sidebar">
		<div>
			<div class="not-sidebar">
				<div>
					<h2 class="txt-mars">Alan Bird</h2>
					<p>Role: <strong>Staff Title</strong></p>
					<p>This is an example of a staff card. J. Alan Bird is the Global Business Development Leader for W3C. In this role, Mr. Bird leads W3C staff efforts internationally to strengthen the W3C Membership program, identify business development strategies, and seek new revenue streams to support the organization.</p>
					<div class="l-cluster">
						<div>
							<div>
								<a href="mailto:name@w3c.org" class="with-icon--before"><img class="icon" src="/assets/svg/envelope.svg" width="20" height="20" alt aria-hidden="true" /> name@w3c.org</a>
							</div>
							<div>
								<a href="path/to/page" class="with-icon--before"><img class="icon" src="/assets/svg/external-link-alt.svg" width="20" height="20" alt aria-hidden="true" /> Alan's personal page</a>
							</div>
							<div>
								<a href="path/to/page" class="with-icon--before"><img class="icon" src="/assets/svg/github.svg" width="20" height="20" alt aria-hidden="true" /> Alan's GitHub repo</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sidebar">
				<div class="avatar">
					<img alt src="https://www.w3.org/2006/05/u/1682ihk1hqqo-sm.jpg" loading="lazy">
				</div>
			</div>
		</div>
	</div>

	<div class="l-sidebar">
		<div>
			<div class="not-sidebar">
				<div>
					<h2 class="txt-mars">Hatty Jacobs</h2>
					<p>Role: <strong>Invited Expert</strong></p>
					<p>This is an example of an invited expert card. The web was invented as a communications tool to allow anyone, anywhere to share information. For many years, the web was a "read-only" tool for many.</p>
					<div class="l-sidebar groups">
						<div>
							<div class="sidebar">
								<h3>Groups:</h3>
							</div>
							<div class="not-sidebar">
								<div class="l-cluster">
									<ul class="clean-list">
										<li><a href="https://www.w3.org/groups/wg/ag">Accessibility Guidelines Working Group</a></li>
										<li><a href="https://www.w3.org/groups/wg/htmlwg">HTML Working Group</a></li>
										<li><a href="https://www.w3.org/groups/wg/svg">SVG Working Group</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="l-cluster">
						<div>
							<div>
								<a href="path/to/page" class="with-icon--before"><img class="icon" src="/assets/svg/github.svg" width="20" height="20" alt aria-hidden="true" /> Hatty's GitHub repo</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sidebar">
				<img src="/assets/svg/avatar.svg" width="100" height="100" alt aria-hidden="true"/>
			</div>
		</div>
	</div>

	<div class="l-sidebar">
		<div>
			<div class="not-sidebar">
				<div>
					<h2 class="txt-mars">Jake Weary</h2>
					<p>Evangelist for: <strong>Web payments</strong></p>
					<p>This is an example of an evangelist card. The web was invented as a communications tool to allow anyone, anywhere to share information. For many years, the web was a "read-only" tool for many.</p>
					<div class="l-cluster">
						<div>
							<div>
								<a href="mailto:name@w3c.org" class="with-icon--before"><img class="icon" src="/assets/svg/envelope.svg" width="20" height="20" alt aria-hidden="true" /> name@w3c.org</a>
							</div>
							<div>
								<a href="tel:+1(555)5309"  class="with-icon--before"><img class="icon" src="/assets/svg/phone.svg" width="20" height="20" alt aria-hidden="true" /> +1 (555) 5309</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sidebar">
				<div class="avatar">
					<img alt src="https://www.w3.org/2006/05/u/1682ihk1hqqo-sm.jpg" loading="lazy">
				</div>
			</div>
		</div>
	</div>

	<div class="l-sidebar">
		<div class="alumni">
			<div class="not-sidebar">
				<div>
					<h2 class="txt-mars">Joseph Lorem-Ipsum</h2>
					<p>February 2008 to December 2014</p>
					<p>This is an example of a staff alumni card. The web was invented as a communications tool to allow anyone, anywhere to share information. For many years, the web was a "read-only" tool for many.</p>
				</div>
			</div>
		</div>
	</div>

</div>