<div class="member-list">

	<div class="l-sidebar card card--member" data-component="card">
		<div>
			<div class="not-sidebar card__text">
				<h2 class="card__heading"><a class="card__link" href="path/to/page">Adobe</a></h2>
				<p>Adobe revolutionizes how the world engages with ideas and information - anytime, anywhere and through any medium. As a leading provider of best-in-class Web technologies, Adobe actively supports the development of W3C standards promoting global interoperability.</p>
			</div>
			<div class="sidebar">
				<div class="logo--member">
					<img src="/assets/images/adobe-transparent.png" alt="Adobe" loading="lazy" />
				</div>
			</div>
		</div>
	</div>

	<div class="l-sidebar card card--member" data-component="card">
		<div>
			<div class="not-sidebar card__text">
				<h2 class="card__heading"><a class="card__link" href="path/to/page">Amazon</a></h2>
				<p>Amazon.com, Inc. is an American multinational technology company based in Seattle, Washington, which focuses on e-commerce, cloud computing, digital streaming, and artificial intelligence.</p>
			</div>
			<div class="sidebar">
				<div class="logo--member">
					<img src="/assets/images/amazon.png" alt="Amazon" loading="lazy" />
				</div>
			</div>
		</div>
	</div>

	<div class="l-sidebar card card--member" data-component="card">
		<div>
			<div class="not-sidebar card__text">
				<h2 class="card__heading"><a class="card__link" href="path/to/page">Apple</a></h2>
				<p>Apple Inc. is an American multinational technology company headquartered in Cupertino, California, that designs, develops, and sells consumer electronics, computer software, and online services.</p>
			</div>
			<div class="sidebar">
				<div class="logo--member">
					<img src="/assets/images/apple.png" alt="Apple" loading="lazy" />
				</div>
			</div>
		</div>
	</div>

	<div class="l-sidebar card card--member" data-component="card">
		<div>
			<div class="not-sidebar card__text">
				<h2 class="card__heading"><a class="card__link" href="path/to/page">Google</a></h2>
				<p>Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, a search engine, cloud computing, software, and hardware.</p>
			</div>
			<div class="sidebar">
				<div class="logo--member">
					<img src="/assets/images/google.png" alt="Google" loading="lazy" />
				</div>
			</div>
		</div>
	</div>

</div>