<div class="event-list">

	<div class="card card--event meeting" data-component="card">
		<div class="card__text">
			<div class="l-sidebar">
				<div>
					<div class="not-sidebar">
						<h2 class="card__heading"><a class="card__link" href="path/to/event">Advisory Committee Meeting</a></h2>
						<p>This is an example of a meeting type event card. This is the excerpt text.</p>
					</div>
					<div class="sidebar">
						<div class="date-location">
							<div>
								<img src="/dist/assets/svg/calendar.svg" width="18" height="20" alt aria-hidden="true" />
							</div>
							<div>
								<p class="date-orig"><time datetime="2021-01-28T18:00Z">28 January 2021, 18:00 - 19:30 UTC</time></p>
								<p>Online</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<p class="txt-pluto"><a href="path/to/category-page">Category link</a></p>
			<p class="txt-pluto">Meeting</p>
		</div>
	</div>

	<div class="card card--event workshop" data-component="card">
		<div class="card__text">
			<div class="l-sidebar">
				<div>
					<div class="not-sidebar">
						<h2 class="card__heading"><a class="card__link" href="path/to/event">W3C Workshop on Web & Machine Learning: Live Session #2</a></h2>
						<p>This is an example of a workshop type event card. This is the excerpt text.</p>
					</div>
					<div class="sidebar">
						<div class="date-location">
							<div>
								<img src="/dist/assets/svg/calendar.svg" width="18" height="20" alt aria-hidden="true" />
							</div>
							<div>
								<p class="date-orig"><time datetime="2021-01-28T18:00Z">28 January 2021, 18:00 - 19:30 UTC</time></p>
								<p>Online</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="l-cluster">
				<div>
					<a href="path/to/category-page">Category link</a>
					<p>Host: Name of host</p>
				</div>
			</div>
			<p class="txt-pluto">Workshop</p>
		</div>
	</div>

	<div class="card card--event talk" data-component="card">
		<div class="card__text">
			<div class="l-sidebar">
				<div>
					<div class="not-sidebar">
						<h2 class="card__heading"><a class="card__link" href="path/to/event">Questions (and Answers) on Semantic Web</a></h2>
						<p>This is an example of a talk type event card. This is the excerpt text.</p>
					</div>
					<div class="sidebar">
						<div class="date-location">
							<div>
								<img src="/dist/assets/svg/calendar.svg" width="18" height="20" alt aria-hidden="true" />
							</div>
							<div>
								<p class="date-orig"><time datetime="2021-01-28T18:00Z">28 January 2021, 18:00 - 19:30 UTC</time></p>
								<p>Online</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="l-cluster">
				<div>
					<a href="path/to/category-page">Category link</a>
					<p>Speaker: Name of speaker</p>
				</div>
			</div>
			<p class="txt-pluto">Talk</p>
		</div>
	</div>

	<div class="l-sidebar card card--event conference" data-component="card">
		<div>
			<div class="not-sidebar card__text">
				<div class="l-sidebar">
					<div>
						<div class="not-sidebar">
							<h2 class="card__heading"><a class="card__link" href="path/to/event">Expo 2020</a></h2>
							<p>This is an example of a conference type event card. This is the excerpt text.</p>
						</div>
						<div class="sidebar">
							<div class="date-location">
								<div>
									<img src="/dist/assets/svg/calendar.svg" width="18px" height="20px" alt role="img" aria-hidden="true" />
								</div>
								<div>
									<p class="date-orig"><time datetime="2021-01-28T18:00Z">28 January 2021, 18:00 - 19:30 UTC</time></p>
									<p>NEC Birmingham, U.K.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<p class="txt-pluto"><a href="path/to/category-page">Category link</a></p>
				<p class="txt-pluto">W3C endorsed conference</p>
			</div>
			<div class="sidebar">
				<div class="l-frame card__image">
					<img src="/dist/assets/images/temp-developers-360.jpg"
					     srcset="dist/assets/images/temp-developers-580.jpg 2x"
					     loading="lazy"
					     alt="A Macbook screen with code, as seen from over the developer's shoulder" />
				</div>
			</div>
		</div>
	</div>

</div>