<div class="post-list">

	<div class="l-sidebar">
		<div>
			<div class="not-sidebar">
				<div>
					<h2 class="txt-mars"><a href="path/to/post">Blog post card example</a></h2>
					<div class="l-cluster">
						<div>
							<div>
								<a href="path/to/category-page">Category</a>
							</div>
							<div>
								<p><span class="visuallyhidden">Published:</span> <time datetime="2015-09-24">24 September 2015</time></p>
							</div>
							<div>
								<p>By: Anne Author</p>
							</div>
						</div>
					</div>
					<p>This is an example of a blog post card. Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
				</div>
			</div>
			<div class="sidebar">
				<a href="path/to/post" class="l-frame" aria-hidden="true" tabindex="-1">
					<img src="/dist/assets/images/temp-developers-360.jpg"
					     srcset="/dist/assets/images/temp-developers-580.jpg 2x"
					     loading="lazy"
					     alt="A Macbook screen with code, as seen from over the developer's shoulder" />
				</a>
			</div>
		</div>
	</div>

	<div class="l-sidebar">
		<div>
			<div class="not-sidebar">
				<div>
					<h2 class="txt-mars"><a href="path/to/post">News article card example</a></h2>
					<div class="l-cluster">
						<div>
							<div>
								<a href="path/to/category-page">Category</a>
							</div>
							<div>
								<p><span class="visuallyhidden">Published:</span> <time datetime="2015-09-24">24 September 2015</time></p>
							</div>
						</div>
					</div>
					<p>This is an example of a news article card. Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
				</div>
			</div>
			<div class="sidebar">
				<a href="path/to/post" class="l-frame" aria-hidden="true" tabindex="-1">
					<img src="/dist/assets/images/temp-developers-360.jpg"
					     srcset="/dist/assets/images/temp-developers-580.jpg 2x"
					     loading="lazy"
					     alt="A Macbook screen with code, as seen from over the developer's shoulder" />
				</a>
			</div>
		</div>
	</div>

	<div class="l-sidebar">
		<div>
			<div class="not-sidebar">
				<div>
					<h2 class="txt-mars"><a href="path/to/post">Press release card example</a></h2>
					<div class="l-cluster">
						<div>
							<div>
								<p>Press release</p>
							</div>
							<div>
								<p><span class="visuallyhidden">Published:</span> <time datetime="2015-09-24">24 September 2015</time></p>
							</div>
						</div>
					</div>
					<p>This is an example of a press release card. Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
				</div>
			</div>
			<div class="sidebar">
				<a href="path/to/post" class="l-frame" aria-hidden="true" tabindex="-1">
					<img src="/dist/assets/images/temp-developers-360.jpg"
					     srcset="/dist/assets/images/temp-developers-580.jpg 2x"
					     loading="lazy"
					     alt="A Macbook screen with code, as seen from over the developer's shoulder" />
				</a>
			</div>
		</div>
	</div>

	<div class="l-sidebar">
		<div>
			<div class="not-sidebar">
				<div>
					<h2 class="txt-mars"><a class="with-icon--after" href="path/to/post">In the Media card example <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" focusable="false" aria-hidden="true"><defs/><path d="M432 320h-32a16 16 0 00-16 16v112H64V128h144a16 16 0 0016-16V80a16 16 0 00-16-16H48a48 48 0 00-48 48v352a48 48 0 0048 48h352a48 48 0 0048-48V336a16 16 0 00-16-16zM488 0H360c-21.37 0-32.05 25.91-17 41l35.73 35.73L135 320.37a24 24 0 000 34L157.67 377a24 24 0 0034 0l243.61-243.68L471 169c15 15 41 4.5 41-17V24a24 24 0 00-24-24z"/></svg></a></h2>
					<div class="l-cluster">
						<div>
							<div>
								<p><span class="visuallyhidden">Published:</span> <time datetime="2015-09-24">24 September 2015</time></p>
							</div>
							<div>
								<p>By: Anne Author</p>
							</div>
							<div>
								<p>In: Publication Name</p>
							</div>
						</div>
					</div>
					<div class="l-cluster">
						<ul class="clean-list">
							<li>
								<span class="tag">Accessibility</span>
							</li>
							<li>
								<span class="tag">Privacy</span>
							</li>
							<li>
								<span class="tag">Security</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>