<div class="component component--members u-full-width">
	<div class="l-center">
		<h2 class="visuallyhidden">W3C Members</h2>
		<p>20 member organisations are involved in the web payment ecosystem, including:</p>
		<div class="component--members__grid">
			<div>
				<img src="/assets/svg/placeholder-logo.svg" alt role="presentation" loading="lazy" />
			</div>
			<div>
				<img src="/assets/svg/placeholder-logo.svg" alt role="presentation" loading="lazy" />
			</div>
			<div>
				<img src="/assets/svg/placeholder-logo.svg" alt role="presentation" loading="lazy" />
			</div>
			<div>
				<img src="/assets/svg/placeholder-logo.svg" alt role="presentation" loading="lazy" />
			</div>
			<div>
				<img src="/assets/svg/placeholder-logo.svg" alt role="presentation" loading="lazy" />
			</div>
			<div>
				<img src="/assets/svg/placeholder-logo.svg" alt role="presentation" loading="lazy" />
			</div>
			<div>
				<img src="/assets/svg/placeholder-logo.svg" alt role="presentation" loading="lazy" />
			</div>
			<div>
				<img src="/assets/svg/placeholder-logo.svg" alt role="presentation" loading="lazy" />
			</div>
		</div>
		<a href="path/to/page">View all members of the web payment ecosystem</a>
		<div class="l-cluster component--members__cta">
			<div>
				<p>Ways to get involved:</p>
				<a class="button button--alt" href="path/to/page">Join</a>
				<a class="button button--alt" href="path/to/page">Donate</a>
			</div>
		</div>
	</div>
</div>