<div class="component component--members u-full-width">
	<div class="l-center">
		<h2>Working with industry</h2>
		<p>We work with a range of organizations to drive the direction of core web technologies and exchange ideas with industry and research leaders. We work in a range of business ecosystems including <a href="path/to/page">E-commerce</a>, <a href="path/to/page">Media &amp; Entertainment</a> and <a href="path/to/page">Web of Things</a>.</p>
		<div class="component--members__grid">
			<div>
				<img src="/dist/assets/svg/placeholder-logo.svg" alt role="presentation" loading="lazy" />
			</div>
			<div>
				<img src="/dist/assets/svg/placeholder-logo.svg" alt role="presentation" loading="lazy" />
			</div>
			<div>
				<img src="/dist/assets/svg/placeholder-logo.svg" alt role="presentation" loading="lazy" />
			</div>
			<div>
				<img src="/dist/assets/svg/placeholder-logo.svg" alt role="presentation" loading="lazy" />
			</div>
			<div>
				<img src="/dist/assets/svg/placeholder-logo.svg" alt role="presentation" loading="lazy" />
			</div>
			<div>
				<img src="/dist/assets/svg/placeholder-logo.svg" alt role="presentation" loading="lazy" />
			</div>
			<div>
				<img src="/dist/assets/svg/placeholder-logo.svg" alt role="presentation" loading="lazy" />
			</div>
			<div>
				<img src="/dist/assets/svg/placeholder-logo.svg" alt role="presentation" loading="lazy" />
			</div>
		</div>
		<a class="button button--alt" href="../page.html">Discover how W3C supports organizations</a>
	</div>
</div>