<div class="component component--members u-full-width">
	<div class="l-center">
		<h2 class="visuallyhidden">W3C Members</h2>
		<p>20 member organizations are involved in the web payment ecosystem, including:</p>
		<div class="component--members__grid">
			<figure>
				<div class="l-box l-box--no-border">
					<img src="/dist/assets/svg/placeholder-logo.svg" alt="Name of company" loading="lazy" />
				</div>
			</figure>
			<figure>
				<div class="l-box l-box--no-border">
					<img src="/dist/assets/svg/placeholder-logo.svg" alt="Name of company" loading="lazy" />
				</div>
			</figure>
			<figure>
				<div class="l-box l-box--no-border">
					<img src="/dist/assets/svg/placeholder-logo.svg" alt="Name of company" loading="lazy" />
				</div>
			</figure>
			<figure>
				<div class="l-box l-box--no-border">
					<img src="/dist/assets/svg/placeholder-logo.svg" alt="Name of company" loading="lazy" />
				</div>
			</figure>
			<figure>
				<div class="l-box l-box--no-border">
					<img src="/dist/assets/svg/placeholder-logo.svg" alt="Name of company" loading="lazy" />
				</div>
			</figure>
			<figure>
				<div class="l-box l-box--no-border">
					<img src="/dist/assets/svg/placeholder-logo.svg" alt="Name of company" loading="lazy" />
				</div>
			</figure>
		</div>
		<a href="path/to/page">View all members of the web payment ecosystem</a>
		<div class="l-cluster component--members__cta">
			<div>
				<p>Ways to get involved:</p>
				<a class="button button--alt" href="path/to/page">Join</a>
				<a class="button button--alt" href="path/to/page">Donate</a>
			</div>
		</div>
	</div>
</div>
