<label for="country">
	<span class="field-label">Country</span>
</label>
<select id="country" class="multiselect" multiple>
	<option value="">Select a country</option>
	<option value="1">Afghanistan</option>
	<option value="2">Åland Islands</option>
	<option value="3">Albania</option>
	<option value="4">Algeria</option>
	<option value="5">American Samoa</option>
	<option value="6">Andorra</option>
	<option value="7">Angola</option>
	<option value="8">Anguilla</option>
	<option value="8">Antarctica</option>
	<option value="10">Antigua And Barbuda</option>
	<option value="11">Argentina</option>
	<option value="12">Armenia</option>
	<option value="13">Aruba</option>
	<option value="14">Australia</option>
	<option value="15">Austria</option>
	<option value="16">Azerbaijan</option>
	<option value="17">Bahamas</option>
	<option value="18">Bahrain</option>
	<option value="19">Bangladesh</option>
	<option value="20">Barbados</option>
	<option value="21">Belarus</option>
	<option value="22">Belgium</option>
	<option value="23">Belize</option>
	<option value="24">Benin</option>
	<option value="25">Bermuda</option>
	<option value="26">Bhutan</option>
	<option value="27">Bolivia</option>
	<option value="28">Bonaire, Sint Eustatius and Saba</option>
	<option value="29">Bosnia and Herzegovina</option>
	<option value="30">Botswana</option>
	<option value="31">Bouvet Island</option>
	<option value="32">Brazil</option>
	<option value="33">British Indian Ocean Territory</option>
	<option value="34">Brunei Darussalam</option>
	<option value="35">Bulgaria</option>
	<option value="36">Burkina Faso</option>
	<option value="37">Burundi</option>
	<option value="38">Cambodia</option>
	<option value="39">Cameroon</option>
	<option value="40">Canada</option>
	<option value="41">Cape Verde</option>
	<option value="42">Cayman Islands</option>
	<option value="43">Central African Republic</option>
	<option value="44">Chad</option>
	<option value="45">Chile</option>
	<option value="46">China</option>
	<option value="47">Christmas Island</option>
	<option value="48">Cocos (Keeling) Islands</option>
	<option value="49">Colombia</option>
	<option value="50">Comoros</option>
	<option value="51">Congo</option>
	<option value="52">Congo, the Democratic Republic of the</option>
	<option value="53">Cook Islands</option>
	<option value="54">Costa Rica</option>
	<option value="55">Côte d'Ivoire</option>
	<option value="x1Croatia">Croatia</option>
	<option value="x1Cuba">Cuba</option>
	<option value="x1Curaçao">Curaçao</option>
	<option value="x1Cyprus">Cyprus</option>
	<option value="x1Czech Republic">Czech Republic</option>
	<option value="x1Denmark">Denmark</option>
	<option value="x1Djibouti">Djibouti</option>
	<option value="x1Dominica">Dominica</option>
	<option value="x1Dominican Republic">Dominican Republic</option>
	<option value="x1Ecuador">Ecuador</option>
	<option value="x1Egypt">Egypt</option>
	<option value="x1El Salvador">El Salvador</option>
	<option value="x1Equatorial Guinea">Equatorial Guinea</option>
	<option value="x1Eritrea">Eritrea</option>
	<option value="x1Estonia">Estonia</option>
	<option value="x1Ethiopia">Ethiopia</option>
	<option value="x1Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
	<option value="x1Faroe Islands">Faroe Islands</option>
	<option value="x1Fiji">Fiji</option>
	<option value="x1Finland">Finland</option>
	<option value="x1France">France</option>
	<option value="x1French Guiana">French Guiana</option>
	<option value="x1French Polynesia">French Polynesia</option>
	<option value="x1French Southern Territories">French Southern Territories</option>
	<option value="x1Gabon">Gabon</option>
	<option value="x1Gambia">Gambia</option>
	<option value="x1Georgia">Georgia</option>
	<option value="x1Germany">Germany</option>
	<option value="x1Ghana">Ghana</option>
	<option value="x1Gibraltar">Gibraltar</option>
	<option value="x1Greece">Greece</option>
	<option value="x1Greenland">Greenland</option>
	<option value="x1Grenada">Grenada</option>
	<option value="x1Guadeloupe">Guadeloupe</option>
	<option value="x1Guam">Guam</option>
	<option value="x1Guatemala">Guatemala</option>
	<option value="x1Guernsey">Guernsey</option>
	<option value="x1Guinea">Guinea</option>
	<option value="x1Guinea-Bissau">Guinea-Bissau</option>
	<option value="x1Guyana">Guyana</option>
	<option value="x1Haiti">Haiti</option>
	<option value="x1Heard Island and McDonald Islands">Heard Island and McDonald Islands</option>
	<option value="x1Holy See (Vatican City State)">Holy See (Vatican City State)</option>
	<option value="x1Honduras">Honduras</option>
	<option value="x1Hong Kong">Hong Kong</option>
	<option value="x1Hungary">Hungary</option>
	<option value="x1Iceland">Iceland</option>
	<option value="x1India">India</option>
	<option value="x1Indonesia">Indonesia</option>
	<option value="x1Iran, Islamic Republic of">Iran, Islamic Republic of</option>
	<option value="x1Iraq">Iraq</option>
	<option value="x1Ireland">Ireland</option>
	<option value="x1Isle of Man">Isle of Man</option>
	<option value="x1Israel">Israel</option>
	<option value="x1Italy">Italy</option>
	<option value="x1Jamaica">Jamaica</option>
	<option value="x1Japan">Japan</option>
	<option value="x1Jersey">Jersey</option>
	<option value="x1Jordan">Jordan</option>
	<option value="x1Kazakhstan">Kazakhstan</option>
	<option value="x1Kenya">Kenya</option>
	<option value="x1Kiribati">Kiribati</option>
	<option value="x1Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
	<option value="x1Korea, Republic of">Korea, Republic of</option>
	<option value="x1Kuwait">Kuwait</option>
	<option value="x1Kyrgyzstan">Kyrgyzstan</option>
	<option value="x1Lao People's Democratic Republic">Lao People's Democratic Republic</option>
	<option value="x1Latvia">Latvia</option>
	<option value="x1Lebanon">Lebanon</option>
	<option value="x1Lesotho">Lesotho</option>
	<option value="x1Liberia">Liberia</option>
	<option value="x1Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
	<option value="x1Liechtenstein">Liechtenstein</option>
	<option value="x1Lithuania">Lithuania</option>
	<option value="x1Luxembourg">Luxembourg</option>
	<option value="x1Macao">Macao</option>
	<option value="x1Madagascar">Madagascar</option>
	<option value="x1Malawi">Malawi</option>
	<option value="x1Malaysia">Malaysia</option>
	<option value="x1Maldives">Maldives</option>
	<option value="x1Mali">Mali</option>
	<option value="x1Malta">Malta</option>
	<option value="x1Marshall Islands">Marshall Islands</option>
	<option value="x1Martinique">Martinique</option>
	<option value="x1Mauritania">Mauritania</option>
	<option value="x1Mauritius">Mauritius</option>
	<option value="x1Mayotte">Mayotte</option>
	<option value="x1Mexico">Mexico</option>
	<option value="x1Micronesia, Federated States of">Micronesia, Federated States of</option>
	<option value="x1Moldova, Republic of">Moldova, Republic of</option>
	<option value="x1Monaco">Monaco</option>
	<option value="x1Mongolia">Mongolia</option>
	<option value="x1Montenegro">Montenegro</option>
	<option value="x1Montserrat">Montserrat</option>
	<option value="x1Morocco">Morocco</option>
	<option value="x1Mozambique">Mozambique</option>
	<option value="x1Myanmar">Myanmar</option>
	<option value="x1Namibia">Namibia</option>
	<option value="x1Nauru">Nauru</option>
	<option value="x1Nepal">Nepal</option>
	<option value="x1Netherlands">Netherlands</option>
	<option value="x1New Caledonia">New Caledonia</option>
	<option value="x1New Zealand">New Zealand</option>
	<option value="x1Nicaragua">Nicaragua</option>
	<option value="x1Niger">Niger</option>
	<option value="x1Nigeria">Nigeria</option>
	<option value="x1Niue">Niue</option>
	<option value="x1Norfolk Island">Norfolk Island</option>
	<option value="x1North Macedonia">North Macedonia</option>
	<option value="x1Northern Mariana Islands">Northern Mariana Islands</option>
	<option value="x1Norway">Norway</option>
	<option value="x1Oman">Oman</option>
	<option value="x1Pakistan">Pakistan</option>
	<option value="x1Palau">Palau</option>
	<option value="x1Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
	<option value="x1Panama">Panama</option>
	<option value="x1Papua New Guinea">Papua New Guinea</option>
	<option value="x1Paraguay">Paraguay</option>
	<option value="x1Peru">Peru</option>
	<option value="x1Philippines">Philippines</option>
	<option value="x1Pitcairn">Pitcairn</option>
	<option value="x1Poland">Poland</option>
	<option value="x1Portugal">Portugal</option>
	<option value="x1Puerto Rico">Puerto Rico</option>
	<option value="x1Qatar">Qatar</option>
	<option value="x1Réunion">Réunion</option>
	<option value="x1Romania">Romania</option>
	<option value="x1Russian Federation">Russian Federation</option>
	<option value="x1Rwanda">Rwanda</option>
	<option value="x1Saint Barthélemy">Saint Barthélemy</option>
	<option value="x1Saint Helena">Saint Helena</option>
	<option value="x1Saint Kitts and Nevis">Saint Kitts and Nevis</option>
	<option value="x1Saint Lucia">Saint Lucia</option>
	<option value="x1Saint Martin (French Part)">Saint Martin (French Part)</option>
	<option value="x1Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
	<option value="x1Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
	<option value="x1Samoa">Samoa</option>
	<option value="x1San Marino">San Marino</option>
	<option value="x1Sao Tome and Principe">Sao Tome and Principe</option>
	<option value="x1Saudi Arabia">Saudi Arabia</option>
	<option value="x1Senegal">Senegal</option>
	<option value="x1Serbia">Serbia</option>
	<option value="x1Seychelles">Seychelles</option>
	<option value="x1Sierra Leone">Sierra Leone</option>
	<option value="x1Singapore">Singapore</option>
	<option value="x1Sint Maarten (Dutch Part)">Sint Maarten (Dutch Part)</option>
	<option value="x1Slovakia">Slovakia</option>
	<option value="x1Slovenia">Slovenia</option>
	<option value="x1Solomon Islands">Solomon Islands</option>
	<option value="x1Somalia">Somalia</option>
	<option value="x1South Africa">South Africa</option>
	<option value="x1South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
	<option value="x1South Sudan">South Sudan</option>
	<option value="x1Spain">Spain</option>
	<option value="x1Sri Lanka">Sri Lanka</option>
	<option value="x1Sudan">Sudan</option>
	<option value="x1Suriname">Suriname</option>
	<option value="x1Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
	<option value="x1Swaziland">Swaziland</option>
	<option value="x1Sweden">Sweden</option>
	<option value="x1Switzerland">Switzerland</option>
	<option value="x1Syrian Arab Republic">Syrian Arab Republic</option>
	<option value="x1Taiwan, Province of China">Taiwan, Province of China</option>
	<option value="x1Tajikistan">Tajikistan</option>
	<option value="x1Tanzania, United Republic of">Tanzania, United Republic of</option>
	<option value="x1Thailand">Thailand</option>
	<option value="x1Timor-Leste">Timor-Leste</option>
	<option value="x1Togo">Togo</option>
	<option value="x1Tokelau">Tokelau</option>
	<option value="x1Tonga">Tonga</option>
	<option value="x1Trinidad and Tobago">Trinidad and Tobago</option>
	<option value="x1Tunisia">Tunisia</option>
	<option value="x1Turkey">Turkey</option>
	<option value="x1Turkmenistan">Turkmenistan</option>
	<option value="x1Turks and Caicos Islands">Turks and Caicos Islands</option>
	<option value="x1Tuvalu">Tuvalu</option>
	<option value="x1Uganda">Uganda</option>
	<option value="x1Ukraine">Ukraine</option>
	<option value="x1United Arab Emirates">United Arab Emirates</option>
	<option value="x1United Kingdom">United Kingdom</option>
	<option value="x1United States">United States</option>
	<option value="x1United States Minor Outlying Islands">United States Minor Outlying Islands</option>
	<option value="x1Uruguay">Uruguay</option>
	<option value="x1Uzbekistan">Uzbekistan</option>
	<option value="x1Vanuatu">Vanuatu</option>
	<option value="x1Venezuela">Venezuela</option>
	<option value="x1Vietnam">Vietnam</option>
	<option value="x1Virgin Islands, British">Virgin Islands, British</option>
	<option value="x1Virgin Islands, U.S.">Virgin Islands, U.S.</option>
	<option value="x1Wallis and Futuna">Wallis and Futuna</option>
	<option value="x1Western Sahara">Western Sahara</option>
	<option value="x1Yemen">Yemen</option>
	<option value="x1Zambia">Zambia</option>
	<option value="x1Zimbabwe">Zimbabwe</option>
</select>