<div class="l-box note note--info" role="status">
    <h2 class="txt-saturn">Informative note heading</h2>
    <p>Group calendering is currently in beta-test. We encourage everyone to use it and report feedback and issues to its <a href="#1">dedicated GitHub repository</a>.</p>
</div>

<div class="l-box note note--success" role="status">
    <h2 class="txt-saturn">Success note heading</h2>
    <p>Main profile successfully updated.</p>
</div>

<div class="l-box note note--warning" role="status">
    <h2 class="txt-saturn">Warning note heading</h2>
    <p>We could not detect your affiliation based on your email address. Please select your affiliation below or <a href="#2">go back to use your corporate email address.</a></p>
</div>

<div class="l-box note note--error" role="alert">
    <h2 class="txt-saturn">Error note heading</h2>
    <p>There has been an error.</p>
</div>