<nav class="l-cluster pagination" aria-labelledby="pagination">
    <h2 id="pagination" class="visuallyhidden">Pagination</h2>
	<ul class="pagination__list">
		<li><a href="path/to/page">Previous</a></li>
		<li><a class="pagination__list__first" href="path/to/page"> 1</a></li>
		<li><a class="ellipsis">&#8230;</a></li>
		<li><a href="path/to/page">6</a></li>
		<li><a href="path/to/page">7</a></li>
		<li><a href="#" aria-current="page">8</a></li>
		<li><a href="path/to/page">9</a></li>
		<li><a href="path/to/page">10</a></li>
		<li><a class="ellipsis">&#8230;</a></li>
		<li><a class="pagination__list__last" href="path/to/page">20</a></li>
		<li><a href="path/to/page">Next</a></li>
	</ul>
</nav>
