<div class="l-box l-box--no-border l-box--no-padding">
	<div class="l-switcher pre-footer">
		<div>
			<div>
				<h2 class="txt-jupiter">Keep updated</h2>
				<a href="mailto:w3c-news-request@w3.org">Get press releases by email</a>
			</div>
			<div>
				<h2 class="txt-jupiter">Contact us</h2>
				<a href="mailto:w3t-pr@w3.org">Write to the W3C comms team</a>
			</div>
		</div>
	</div>
</div>