<section class="rss">
	<h2 class="txt-jupiter">Related RSS feed</h2>
	<p class="with-icon--before with-icon--larger">
		<img class="icon icon--larger" src="/assets/svg/rss.svg" width="30" height="30" alt aria-hidden="true" />
		<a href="https://www.w3.org/blog/feed">Subscribe to our Blog feed</a>
	</p>
</section>