<div class="l-sidebar">
	<div>
		<div class="not-sidebar">
			<div class="l-box l-box--no-border">Wide panel</div>
		</div>
		<div class="sidebar">
			<div class="l-box l-box--no-border">Narrow &quot;sidebar&quot; panel</div>
		</div>
	</div>
</div>