<div class="l-switcher">
	<div>
		<div>
			<div class="l-box l-box">Item 1</div>
		</div>
		<div>
			<div class="l-box">Item 2</div>
		</div>
		<div>
			<div class="l-box">Item 3</div>
		</div>
	</div>
</div>