<table>
	<caption>
		<h2>Example table</h2>
	</caption>
	<thead>
	<tr>
		<th scope="col">Column header 1</th>
		<th scope="col">Column header 2</th>
		<th scope="col">Column header 3</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<th scope="row">Row 1 header</th>
		<td>Row 1, cell 2</td>
		<td>Row 1, cell 3</td>
	</tr>
	<tr>
		<th scope="row">Row 2 header</th>
		<td>Row 2, cell 2</td>
		<td>Row 2, cell 3</td>
	</tr>
	</tbody>
</table>
