<div class="table-wrap" role="region" aria-labelledby="unique-caption-id" tabindex="0">
	<table>
		<caption id="unique-caption-id">Members of the Spice Girls</caption>
		<thead>
		<tr>
			<th scope="col">First name</th>
			<th scope="col">Last name</th>
			<th scope="col">Band name</th>
			<th scope="col">Date of birth</th>
			<th scope="col">Place of birth</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>Emma</td>
			<td>Bunton</td>
			<td>Baby</td>
			<td>21 January 1976</td>
			<td>Watford</td>
		</tr>
		<tr>
			<td>Geri</td>
			<td>Halliwell</td>
			<td>Ginger</td>
			<td>6 August 1972</td>
			<td>London</td>
		</tr>
		<tr>
			<td>Victoria</td>
			<td>Beckham</td>
			<td>Posh</td>
			<td>17 April 1974</td>
			<td>Harlow</td>
		</tr>
		<tr>
			<td>Melanie</td>
			<td>Brown</td>
			<td>Scary</td>
			<td>29 May 1975</td>
			<td>Leeds</td>
		</tr>
		<tr>
			<td>Melanie</td>
			<td>Chisholm</td>
			<td>Sporty</td>
			<td>12 January 1974</td>
			<td>Whiston</td>
		</tr>
		</tbody>
	</table>
</div>