<div class="l-cluster">
	<ul class="clean-list">
		<li>
			<span class="tag">Accessibility</span>
		</li>
		<li>
			<span class="tag">Privacy</span>
		</li>
		<li>
			<span class="tag">Security</span>
		</li>
	</ul>
</div>