<div class="l-cluster">
	<ul class="clean-list">
		<li>
			<a href="path/to/page" class="tag"><span class="visuallyhidden">Content tagged with</span> Accessibility</a>
		</li>
		<li>
			<a href="path/to/page" class="tag"><span class="visuallyhidden">Content tagged with</span> Privacy</a>
		</li>
		<li>
			<a href="path/to/page" class="tag"><span class="visuallyhidden">Content tagged with</span> Security</a>
		</li>
	</ul>
</div>