<section class="toc">
	<h2>Page contents skip to links</h2>
	<ul class="clean-list" role="list">
		<li><a href="#link-to-anchor-1">First heading</a></li>
		<li><a href="#link-to-anchor-2">Second heading</a></li>
		<li><a href="#link-to-anchor-3">Third heading</a></li>
	</ul>
</section>