<section class="family-grouping">
    <h2>Family name</h2>
    <div class="tr-list__item">
        <div class="tr-list__item__header">
            <h3>
                <a href="https://www.w3.org/TR/2019/NOTE-wai-aria-practices-1.1-20190814/">WAI-ARIA Authoring Practices 1.1</a>
            </h3>
            <span class="maturity-level maturity-level--note">Note</span>
        </div>
        <time>14 August 2019</time>
        <p><span class="bold">Tags:</span> Accessibility</p>
    </div>
    <div class="tr-list__item">
        <div class="tr-list__item__header">
            <h3>
                <a href="https://www.w3.org/TR/2019/WD-accname-1.2-20190711/">Accessible Name and Description Computation 1.2</a>
            </h3>
            <span class="maturity-level">Draft Standard</span>
        </div>
        <time>11 July 2019</time>
        <p><span class="bold">Tags:</span> Accessibility</p>
        <p><span class="bold">Editors:</span> Bryan Garaventa, Joanmarie Diggs, Michael Cooper</p>
    </div>
    <div class="tr-list__item">
        <div class="tr-list__item__header">
            <h3>
                <a href="https://www.w3.org/TR/2014/REC-wai-aria-20140320/">Accessible Rich Internet Applications (WAI-ARIA) 1.0</a>
            </h3>
            <span class="maturity-level maturity-level--highlighted">Standard</span>
        </div>
        <time>20 March 2014</time>
        <p><span class="bold">Tags:</span> Accessibility</p>
        <p><span class="bold">Editors:</span> James Craig, Michael Cooper</p>
        <p><a href="path/to/page">2 translations (<span lang="ja">日本語</span>, <span lang="hu-HU">Magyar</span>) for Accessible Rich Internet Applications (WAI-ARIA) 1.0</a></p>
    </div>
</section>
