<div class="tr-list">
    <div class="tr-list__item">
        <div class="tr-list__item__header">
            <h3>
                <a href="https://www.w3.org/TR/2021/NOTE-did-spec-registries-20210624/">DID
                    Specification Registries</a>
            </h3>
            <span class="maturity-level maturity-level--note">Note</span>
        </div>
        <time>24 June 2021</time>
        <p><span class="bold">Tags:</span> Privacy, Security</p>
    </div>
</div>
