<div class="tr-list">
    <div class="tr-list__item">
        <div class="tr-list__item__header">
            <h3>
                <a href="https://www.w3.org/TR/2021/REC-webrtc-20210126/">WebRTC 1.0: Real-Time Communication Between Browsers</a>
            </h3>
            <span class="maturity-level maturity-level--highlighted">Standard</span>
        </div>
        <time>26 January 2021</time>
        <p><span class="bold">Tags:</span> Media, Web API</p>
        <p><span class="bold">Editors:</span> Cullen Jennings, Henrik Boström, Jan-Ivar Bruaroey</p>
        <p><a href="path/to/page">3 translations for WebRTC 1.0: Real-Time Communication Between Browsers</a></p>
    </div>
</div>
