<section class="family-grouping">
    <h2>Family name</h2>
    <div class="tr-list__item">
        <div class="tr-list__item__header">
            <h3>
                <a href="https://www.w3.org/TR/2019/NOTE-wai-aria-practices-1.1-20190814/">WAI-ARIA Authoring Practices 1.1</a>
            </h3>
            <span class="maturity-level maturity-level--note">Note</span>
        </div>
        <div><time>14 August 2019</time></div>
        <dl class="inline">
            <div>
                <dt>Tags</dt>
                <dd>Accessibility</dd>
            </div>
        </dl>
    </div>
    <div class="tr-list__item">
        <div class="tr-list__item__header">
            <h3>
                <a href="https://www.w3.org/TR/2019/WD-accname-1.2-20190711/">Accessible Name and Description Computation 1.2</a>
            </h3>
            <span class="maturity-level">Draft Standard</span>
        </div>
        <div><time>11 July 2019</time></div>
        <dl class="inline">
            <div>
                <dt>Tags</dt>
                <dd>Accessibility</dd>
            </div>
            <div>
                <dt>Editors</dt>
                <dd>Bryan Garaventa</dd>
                <dd>Joanmarie Diggs</dd>
                <dd>Michael Cooper</dd>
            </div>
        </dl>
    </div>
    <div class="tr-list__item">
        <div class="tr-list__item__header">
            <h3>
                <a href="https://www.w3.org/TR/2014/REC-wai-aria-20140320/">Accessible Rich Internet Applications (WAI-ARIA) 1.0</a>
            </h3>
            <span class="maturity-level maturity-level--highlighted">Standard</span>
        </div>
        <div><time>20 March 2014</time></div>
        <dl class="inline">
            <div>
                <dt>Tags</dt>
                <dd>Accessibility</dd>
            </div>
            <div>
                <dt>Editors</dt>
                <dd>James Craig</dd>
                <dd>Michael Cooper</dd>
            </div>
            <div class="translation-list">
                <dt>Translations <span class="visuallyhidden">/span> Accessible Rich Internet Applications (WAI-ARIA) 1.0</span></dt>
                <dd><a hreflang="ja" href="path/to/page"><span lang="ja">日本語</span></a></dd>
                <dd><a hreflang="hu-HU" href="path/to/page"><span lang="hu-HU">Magyar</span></a></dd>
            </div>
        </dl>
    </div>
</section>
