<nav class="l-box l-box--no-border translations" aria-label="translations">
	<div class="l-sidebar">
		<div>
			<div class="sidebar">
				<span>Read this page in:</span>
			</div>
			<div class="not-sidebar">
				<div class="l-cluster">
					<ul class="clean-list">
						<li><a href="/fr" hreflang="fr" lang="fr">Français</a></li>
						<li><a href="/zh" hreflang="zh-hans" lang="zh-hans">简体中文首页</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>