<figure class="component component--video">
	<div class="l-frame l-frame--16-9">
		<iframe title="Video title" loading="lazy" width="560" height="315" src="https://www.youtube-nocookie.com/embed/sw-j75MQtQU" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<figcaption>
		<p>Note: embed code from Vimeo/YouTube does not include the <code>title</code> attribute, but this is a WCAG requirement so needs to be added manually.</p>
		<a href="/path/to/transcript.html">Video transcript</a>
	</figcaption>
</figure>