/*------------------------------------*\
    #Breakpoints

    The measurements presented here are for guidance only
    and should be updated to reflect the design/content needs.
\*------------------------------------*/

$bp-palm:               320;
$bp-tab-small:          768;
$bp-tab-large:          1024;
$bp-lap:                1280;
$bp-desk:               1440;

$max-width:				1120;

$text-measure:          660;