/*------------------------------------*\
    #Paths
\*------------------------------------*/

$img-path:          "/assets/images/";
$font-path:         "/assets/fonts/";
$svg-path:          "/assets/svg/";