/*
 * Accessible Autocomplete
 * MIT license | https://github.com/alphagov/accessible-autocomplete
 * Modified to fit Apollo
 */

.autocomplete__wrapper {
	position: relative;
}

.autocomplete__hint,
.autocomplete__input {
	appearance: none;
	border: 2px solid;
	border-radius: 0; /* Safari 10 on iOS adds implicit border rounding. */
	margin-bottom: 0; /* BUG: Safari 10 on macOS seems to add an implicit margin. */
	width: 100%;
}

.autocomplete__input {
	background-color: transparent;
	position: relative;
}

.autocomplete__hint {
	color: $twiki-gray;
	position: absolute;
}

.autocomplete__input--default {
	padding: 5px;
}

.autocomplete__input--focused {
	background-color: $white;
	outline: 3px solid $focus-color;
	outline-offset: 0;
	box-shadow: inset 0 0 0 2px;
}

.autocomplete__input--show-all-values {
	padding: 5px 34px 5px 5px; /* Space for arrow. Other padding should match .autocomplete__input--default. */
	cursor: pointer;
}

[dir="rtl"] {

	.autocomplete__input--show-all-values {

		padding-left: 34px;
		padding-right: 5px;

	}

}

.autocomplete__dropdown-arrow-down {
	display: inline-block;
	position: absolute;
	right: 8px;
	width: 24px;
	height: 24px;
	top: 12px;
	pointer-events: none; // To account for removal of negative z-index
	//z-index: -1;
}

[dir="rtl"] {

	.autocomplete__dropdown-arrow-down {

		right: auto;
		left: 8px;

	}

}

.autocomplete__menu {
	background-color: #fff;
	border: 2px solid;
	border-top: 0;
	color: $off-black;
	margin: 0;
	max-height: 342px;
	overflow-x: hidden;
	padding: 0;
	width: 100%;
	width: calc(100% - 4px);
}

.autocomplete__menu--visible {
	display: block;
}

.autocomplete__menu--hidden {
	display: none;
}

.autocomplete__menu--overlay {
	box-shadow: rgba(0, 0, 0, 0.256863) 0px 2px 6px;
	left: 0;
	position: absolute;
	top: 100%;
	z-index: 100;
}

.autocomplete__menu--inline {
	position: relative;
}

.autocomplete__option {
	border-bottom: solid $twiki-gray;
	border-width: 1px 0;
	cursor: pointer;
	display: block;
	position: relative;
}

.autocomplete__option > * {
	pointer-events: none;
}

.autocomplete__option:first-of-type {
	border-top-width: 0;
}

.autocomplete__option:last-of-type {
	border-bottom-width: 0;
}

.autocomplete__option--odd {
	background-color: $mist-gray;
}

.autocomplete__option--focused,
.autocomplete__option:hover {
	background-color: $blue;
	border-color: $blue;
	color: white;
	outline: none;
}

.autocomplete__option--no-results {
	background-color: $mist-gray;
	color: $storm-gray;
	cursor: not-allowed;
}

.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
	line-height: 1.25;
}

.autocomplete__hint,
.autocomplete__option {
	padding: 5px;
}