/*------------------------------------*\
    #Font sizes
\*------------------------------------*/

@mixin txt-venus {

	font-size: rem(33);
	line-height: calc(43 / 33);

	@include mq($bp-tab-small) {

		font-size: rem(42);
		line-height: calc(58.8 / 42);

	}

}


@mixin txt-earth {

	font-size: rem(27);
	line-height: calc(33.6 / 27);

	@include mq($bp-tab-small) {

		font-size: rem(34);
		line-height: calc(43 / 34);

	}

}


@mixin txt-mars {

	font-size: rem(24);
	line-height: calc(33.6 / 24);

}


@mixin txt-jupiter {

	font-size: rem(20);
	line-height: calc(32 / 20);

}


@mixin txt-saturn {

	font-size: rem(18);
	line-height: calc(27 / 18);

}


@mixin txt-pluto {

	font-size: rem(15);
	line-height: calc(22.5 / 15);

}


@mixin txt-eris {

	font-size: rem(14);
	line-height: calc(20 / 14);

}