{% extends '@W3CWebsiteTemplates/base.html.twig' %}

{% set body_classes = 'listing' %}

{% block main %}
    <div class="u-full-width hero hero--listing">
        <div class="l-center">
            <h1>{% block title %}{{ page.title|default('W3C') }}{% endblock %}</h1>
            {% block lead %}
                {% if page.lead is defined and page.lead %}
                    <p class="lead">{{ page.lead|raw }}</p>
                {% endif %}
            {% endblock %}

            {% block filters %}{% endblock %}
        </div>
    </div>
    {% block list %}{% endblock %}
    {% block pagination %}
        {% include '@W3CWebsiteTemplates/components/styles/pagination.html.twig' %}
    {% endblock %}

    {% block pre_footer %}
        {% include '@W3CWebsiteTemplates/components/pre-footer.html.twig' %}
    {% endblock %}
{% endblock %}
