/*------------------------------------*\
    #CSS unit functions
\*------------------------------------*/

$browser-context: 16; // Default

/**
 #em
 */
@function em($pixels, $context: $browser-context) {
	@return calc($pixels/$context) + em;
}


/**
 #rem
 */
@function rem($pixels, $context: $browser-context) {
	@return calc($pixels/$context) + rem;
}


/**
 #px
 */
@function px($target, $context: $browser-context) {
	@return calc($target*$context) + px;
}


/**
 #Return a number without a unit
 */
@function number($target, $context: $browser-context) {
	@return calc($target/$context);
}


/**
 #Remove any unit present to return a unitless number
 */
@function unitless($number) {
	@return calc($number / ($number * 0 + 1));
}
