{% extends 'base.html.twig' %}

{% block title %}Basic page template{% endblock %}
{% block meta_description %}Basic page template from the W3C design system{% endblock %}

{% block body_class %}{% endblock %}

{% block header %}
	{% include 'components/header.html.twig' %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
	<h1>Basic page</h1>
    <h2>heading 2</h2>
    <h3 data-anchor="no">heading 3 - has data atribute</h3>
    <h4>heading 4</h4>
    <h5>heading 5</h5>
    <h6>heading 6</h6>

    <nav>
        <h1>H1 in nav</h1>
        <h2>H2 in nav</h2>
        <h3>H3 in nav</h3>
        <h4>H4 in nav</h4>
        <h5>H5 in nav</h5>
        <h6>H6 in nav</h6>
    </nav>

    <article data-anchor="no">
        <section>
            <div>
                <h1>H1 in parent with data attr</h1>
                <h2>H2 in parent with data attr</h2>
                <h3>H3 in parent with data attr</h3>
                <h4>H4 in parent with data attr</h4>
                <h5>H5 in parent with data attr</h5>
                <h6>H6 in parent with data attr</h6>
            </div>
        </section>
    </article>
{% endblock %}

{% block crosslinks %}{% endblock %}

{% block scripts %}
{% endblock %}