{% extends 'base.html.twig' %}

{% block title %}Basic page template{% endblock %}
{% block meta_description %}Basic page template from the W3C design system{% endblock %}

{% block body_class %}{% endblock %}

{% block header %}
	{% include 'components/header.html.twig' %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
	<h1>Basic page</h1>
    <h2 id="blah">Lorem ipsum dolor sit amet consectetuer adipiscing elit unto thy end of days and forever hereafter</h2>
    <h3 id="blah">Lorem ipsum dolor sit amet consectetuer adipiscing elit unto thy end of days and forever hereafter</h3>
    <h4 id="blah">Lorem ipsum dolor sit amet consectetuer adipiscing elit unto thy end of days and forever hereafter</h4>
    <h5 id="blah">Lorem ipsum dolor sit amet consectetuer adipiscing elit unto thy end of days and forever hereafter</h5>
    <h6 id="blah">Lorem ipsum dolor sit amet consectetuer adipiscing elit unto thy end of days and forever hereafter</h6>
{% endblock %}

{% block crosslinks %}{% endblock %}

{% block scripts %}
{% endblock %}