{% extends 'base.html.twig' %}

{% block title %}Basic page template{% endblock %}
{% block meta_description %}Basic page template from the W3C design system{% endblock %}

{% block body_class %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
	<h1>Basic page</h1>
{% endblock %}

{% block crosslinks %}{% endblock %}