{% extends 'base.html.twig' %}

{% block title %}Event page template{% endblock %}
{% block meta_description %}Event page template from the W3C design system{% endblock %}

{% block body_class %}class="event"{% endblock %}

{% block breadcrumbs %}
	{% include 'components/breadcrumbs.html.twig' %}
{% endblock %}

{% block content %}
<div class="content">

	<article>

		<div class="intro meeting">
			<h1>Web and broadcast: The birth of exciting technologies</h1>
			<p>Online meeting</p>
		</div>
		<p class="lead">Short description of the event</p>

		<a href="path/to/calender-file" class="with-icon--before calendar-link txt-pluto"><svg class="icon" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true" viewBox="0 0 448 512" width="1em" height="1em"><defs/><path d="M336 292v24c0 6.6-5.4 12-12 12h-76v76c0 6.6-5.4 12-12 12h-24c-6.6 0-12-5.4-12-12v-76h-76c-6.6 0-12-5.4-12-12v-24c0-6.6 5.4-12 12-12h76v-76c0-6.6 5.4-12 12-12h24c6.6 0 12 5.4 12 12v76h76c6.6 0 12 5.4 12 12zm112-180v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"/></svg> Add to calendar</a>

		<!-- translations component would go here -->

		<section class="meta">
			<h2 class="visuallyhidden">Event details</h2>
			<dl class="grid">
				<dt>Date:</dt>
				<dd><time datetime="2021-01-28T18:00Z">28 January 2021, 14:00 - 15:30 Eastern Daylight Time (18:00 - 19:30 UTC)</time></dd>
				<dt>Location:</dt>
				<dd>Online</dd>
				<dt>Speakers:</dt>
				<dd>Deidre De Veloper</dd>
				<dt>Host:</dt>
				<dd>Jake Weary</dd>
				<dt class="with-link">Category:</dt>
				<dd class="with-link">
					<a href="path/to/page">Category 1</a>
				</dd>
				<dt class="with-link">Tags:</dt>
				<dd class="l-cluster with-link">
					<ul class="clean-list">
						<li><a href="path/to/page">Tag 1</a></li>
						<li><a href="path/to/page">Tag 2</a></li>
						<li><a href="path/to/page">Tag 3</a></li>
						<li><a href="path/to/page">Tag 4</a></li>
						<li><a href="path/to/page">Tag 5</a></li>
					</ul>
				</dd>
				<dt class="with-link">Website:</dt>
				<dd class="with-link"><a href="path/to/site">Name of website</a></dd>
			</dl>
		</section>

		{% include 'components/text.html.twig' %}

		<!-- remaining page content would go here -->

	</article>

</div>
{% endblock %}

{% block crosslinks %}
{% endblock %}

{% block scripts %}
{% endblock %}