{% extends 'base.html.twig' %}

{% block title %}Group details template{% endblock %}
{% block meta_description %}Group details template from the W3C design system{% endblock %}

{% block body_class %}class="group"{% endblock %}

{% block breadcrumbs %}
	{% include 'components/breadcrumbs.html.twig' %}
{% endblock %}

{% block content %}
	<div class="content">

		<h1>Name of group</h1>

		<button type="button" class="button button--ghost with-icon with-icon--after" style="display:none;" data-toggle="true">Toggle group navigation <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 320 512" class="icon" focusable="false" aria-hidden="true" width="1em" height="1em"><path class="angle-down" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/><path class="angle-up" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"/></svg></button>

		<nav id="group-nav" aria-label="Group details">
			<div class="group-nav__inner">
				<ul class="clean-list" role="list">
					<li><a href="#" aria-current="true">Summary</a></li>
					<li><a href="path/to/page">News</a></li>
					<li><a href="path/to/page">Activity</a></li>
					<li><a href="path/to/page">Participants</a></li>
					<li><a href="path/to/page">Calendar</a></li>
					<li><a href="path/to/page">Tools</a></li>
					<li><a href="path/to/page">Publications</a></li>
					<li><a href="path/to/page">Task Forces</a></li>
					<li><a href="path/to/page">IPR</a></li>
				</ul>
			</div>
		</nav>

		<div class="details">

			{% include 'components/text.html.twig' %}

		</div>

	</div>
{% endblock %}

{% block crosslinks %}
{% endblock %}

{% block scripts %}
{% endblock %}