{% if page.access_control is defined %}
    <div class="banner banner--access-control acl-{{ page.access_control.acl is defined ? page.access_control.acl : 'member'}}">
        <div class="banner__inner l-center">
            {% block access_control_content %}
                {{ page.access_control.text|default('Member restricted')|raw }}
            {% endblock %}
        </div>
    </div>
{% endif %}
