{% if page.access_control is defined %}
    {% if page.access_control.acl is defined %}
        {% set acl = page.access_control.acl %}
    {% else %}
        {% set acl = 'private' %}
    {% endif %}
    <div class="banner banner--access-control acl-{{ acl }}">
        <div class="banner__inner l-center">
            <img class="icon" src="{{ asset('svg/lock.svg', 'website-2021') }}" width="20" height="20" alt
                 aria-hidden="true"/>
            <p>
                {% block access_control_content %}
                    {% if page.access_control.text is defined %}
                        {{ page.access_control.text }}
                    {% else %}
                        {{ ('page.acl.' ~ acl)|trans({}, 'w3c_website_templates_bundle') }}
                    {% endif %}
                {% endblock %}
            </p>
        </div>
    </div>
{% endif %}
