<div class="people-list">
    {% for alumnus in alumni %}
        <div class="l-sidebar">
            <div class="alumni">
                <div class="not-sidebar">
                    <div>
                        <h2 class="txt-mars">{{ alumnus.given }} {{ alumnus.last }}</h2>
                        <p>{{ 'alumni.date_range'|trans({'start': alumnus.start|date('F Y'), 'end': alumnus.end|date('F Y')}, 'w3c_website_templates_bundle') }}</p>
                        <p>
                            {{ alumnus.biography|purify }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
