<div class="banner">
    <div class="banner__inner l-center">
        <img src="{{ asset('svg/beta.svg', 'main') }}" class="icon icon--beta" alt="{{ 'banner.beta.icon'|trans({}, 'w3c_website_templates_bundle') }}" role="img"/>
        <p>{{ 'banner.beta.text'|trans({}, 'w3c_website_templates_bundle')|raw }}</p>
    </div>
</div>
