<div class="banner">
    <div class="banner__inner l-center">
        {% block banner_content %}
            <p>{{ 'banner.beta.text'|trans({}, 'w3c_website_templates_bundle')|raw }}</p>
        {% endblock %}
    </div>
</div>
