<aside class="crosslinks">
    <div class="l-center">
        <div class="component component--columns component--columns--images">
            <div class="component--columns__intro">
                <h2>{{ crosslinks['title'] }}</h2>
                <p>{{ crosslinks['text'] }}</p>
            </div>
            <ul class="clean-list" role="presentation">
                {% for crosslink in crosslinks['links'] %}
                    {{ include('@W3CWebsiteTemplates/components/styles/crosslink.html.twig', {'crosslink': crosslink}) }}
                {% endfor %}
            </ul>
        </div>
    </div>
</aside>
