{% if site is defined and site %}
<nav id="lang-nav" aria-label="Language options">
    <div class="l-center">
        <div class="l-cluster">
            <ul class="clean-list" role="list">
                {% for code, data in site.getData('siteLink', true) %}
                    <li><a href="{{ data.url }}" hreflang="{{ code }}" lang="{{ code }}">{{ data.label }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
{% endif %}
