<section class="l-box l-box--no-border translations">
    <div class="l-sidebar">
        <div>
            <div class="sidebar">
                <h2>{{ 'page.translations'|trans({}, 'w3c_website_templates_bundle') }}</h2>
            </div>
            {{ include('@W3CWebsiteTemplates/components/styles/translations-list.html.twig') }}
        </div>
    </div>
</section>
