<nav aria-label="{{ 'page.translationsarialabel'|trans({}, 'w3c_website_templates_bundle') }}" class="translations">
    <div class="l-sidebar">
        <div>
            <div class="sidebar">
                {{ 'page.translations'|trans({}, 'w3c_website_templates_bundle')|raw }}
            </div>
            {{ include('@W3CWebsiteTemplates/components/styles/translations-list.html.twig') }}
        </div>
    </div>
</nav>
