<section class="related">
    <div class="related__inner">
        <h2 class="txt-jupiter">Related content</h2>
        <ul class="clean-list" role="list">
            {% for link in related_links %}
                <li><a href="{{ link.uri|absolute_url(app.request.locale) }}">{{ link.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</section>
