<section class="related">
    <div class="related__inner">
        <h2 class="txt-jupiter">{{ 'page.related_content'|trans({}, 'w3c_website_templates_bundle') }}</h2>
        <ul class="clean-list" role="list">
            {% for link in related_links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</section>
