<section class="toc">
    <h2>{% block toc_title %}{{ 'page.toc'|trans({}, 'w3c_website_templates_bundle') }}{% endblock %}</h2>
    {% block toc_content %}{{ toc.headings.ul({'class': 'clean-list', 'role': 'list'})|raw }}{% endblock %}
</section>
