<nav class="toc" aria-labelledby="toc-label">
    <h2 id="toc-label">{% block toc_title %}{{ 'page.toc'|trans({}, 'w3c_website_templates_bundle') }}{% endblock %}</h2>
    {% block toc_content %}{{ toc.headings.ul()|raw }}{% endblock %}
</nav>
