/*------------------------------------*\
    #Box layout primitive

    From https://absolutely.every-layout.dev/layouts/box/

    `.l-box` should have borders and/or padding on all sides, or
    none at all. Otherwise it's not a box, but something more specific.
\*------------------------------------*/

.l-box {
	border: 1px solid;
	display: block;
	padding: rem(24);
}


.l-box--no-padding {
	padding: 0;
}

/**
1. High contrast themes tend to eliminate background-color. If there is no
border set on the box, we need to apply a transparent outline to maintain
the box shape. The negative outline-offset moves the outline inside the
perimeter so it behaves like a border and doesn't add to the overall size.
 */
.l-box--no-border {
	border: none;
	outline: 1px solid transparent; /* 1 */
	outline-offset: -1px; /* 1 */
}