/*------------------------------------*\
    #Center layout primitive

    From https://absolutely.every-layout.dev/layouts/center/

    `.l-center` creates a horizontally centered container.
\*------------------------------------*/

/**
1. We use left and right padding to add some minimum space between the
contents of `.l-center` and the edges of the parent element or viewport.
To avoid making the content narrower than intended, we add an exception
to our global box-sizing rule.
 */
.l-center.l-center {
	box-sizing: content-box /* 1 */;
	margin-inline: auto;
	max-inline-size: rem($max-width);
	padding-inline: 5vw;
}