{% extends '@W3CWebsiteTemplates/base.html.twig' %}

{% block main %}
    <div class="content">
        <article>
            <h1>{{ block('title') }}</h1>
            {% if page_translations is defined and page_translations|length > 0 %}
                {{ include('@W3CWebsiteTemplates/components/styles/page_translations.html.twig') }}
            {% endif %}
            {% if toc is defined %}
                {{ include('@W3CWebsiteTemplates/components/styles/toc.html.twig') }}
            {% endif %}
            {% block body %}{% endblock body %}
        </article>
        {% block related %}
            {% if related_links is defined %}
                {{ include('@W3CWebsiteTemplates/components/styles/related.html.twig') }}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
