{% extends '@W3CWebsiteTemplates/base.html.twig' %}

{% set body_classes = 'landing' %}
{% set page_translations = page.localized %}

{% block main %}
    <div class="u-full-width hero">
        <div class="l-center">
            <div class="l-sidebar">
                <div>
                    <div class="not-sidebar">
                        <h1>{% block title %}{{ page.title|default('W3C') }}{% endblock %}</h1>
                        <p class="lead">{{ page.pageLead }}</p>
                    </div>
                    {% if page.heroIllustration %}
                        <div class="sidebar">
                            <img src="{{ page.heroIllustration.url }}" role="img" alt/>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% for component in page.landingFlexibleComponents %}
        {{ include('partials/landingFlexibleComponents.html.twig') }}
    {% endfor %}
{% endblock %}
