/*------------------------------------*\
    #Alignment utilities
\*------------------------------------*/

.u-float-left {
	float: left;
}

.u-float-right {
	float: right;
}

.u-text-center {
	text-align: center;
}

.u-text-left {
	text-align: start;
}

.u-text-right {
	text-align: end;
}

.u-text-vertical-lr {
	writing-mode: vertical-lr;
}

.u-text-vertical-rl {
	writing-mode: vertical-rl;
}

.u-block-left {
	float: left;
	margin-block-end: 1em;
	margin-right: 1em;
}

.u-block-right {
	float: right;
    margin-block-end: 1em;
	margin-left: 1em;
}

/**
Change text-alignment at the "laptop" breakpoint,
as defined in /10-settings/breakpoints

1. Logical property allows text-direction to change with `ltr`
 */
.u-text-left-from-lap {
	@include mq($bp-lap) {
		text-align: start;
	}
}


.u-text-center-from-lap {
	@include mq($bp-lap) {
		text-align: center;
	}
}


.u-text-right-from-lap {
	@include mq($bp-lap) {
		text-align: end;
	}
}