/*------------------------------------*\
    #Color utilities

    Double specificity in classname avoids use of !important
\*------------------------------------*/

/**
 Utilities for "solid" background/border color with WCAG conforming content color
 */
.u-bg-active.u-bg-active {

	background-color: $coral;
	border-color: $coral;
	color: $off-black;

}

.u-bg-category.u-bg-category {

	background-color: $purple;
	border-color: $purple;
	color: $white;

}

.u-bg-error.u-bg-error {

	background-color: $error-color;
	border-color: $error-color;
	color: $white;

}

.u-bg-info.u-bg-info {

	background-color: $info-color;
	border-color: $info-color;
	color: $white;

}

.u-bg-success.u-bg-success {

	background-color: $success-color;
	border-color: $success-color;
	color: $white;

}

.u-bg-warning.u-bg-warning {
	background-color: $warning-color;
	border-color: $warning-color;
	color: $off-black;
}



/**
 Utilities for border/content color with white background color
 */
.u-color-draft.u-color-draft {

	background-color: $white;
	border-color: $off-black;
	color: $off-black;

}

.u-color-error.u-color-error {

	background-color: $white;
	border-color: $error-color;
	color: $error-color;

}

.u-color-info.u-color-info {

	background-color: $white;
	border-color: $info-color;
	color: $info-color;

}

.u-color-success.u-color-success {

	background-color: $white;
	border-color: $success-color;
	color: $success-color;

}

.u-color-warning.u-color-warning {

	background-color: $white;
	border-color: $warning-color;
	color: $off-black;

}