/*------------------------------------*\
    #Margin utilities

    Double specificity in classname avoids use of !important
\*------------------------------------*/

.u-no-margin.u-no-margin {

	margin: 0;

}

.u-no-margin-top.u-no-margin-top {

	margin-top: 0;

}