/*------------------------------------*\
    #Background colours
\*------------------------------------*/

.bg--info {
	background-color: $info-color;
	color: $white;
}

.bg--success {
	background-color: $success-color;
	color: $white;
}

.bg--warning {
	background-color: #c78a05;
	color: $black;
}