/*------------------------------------*\
    #Body
\*------------------------------------*/

/**
 Typographical styles for fonts are in 30-base/_typography.scss
 */
body {
	background-color: $white;
	color: $off-black;
	overflow-x: hidden;
}