/*------------------------------------*\
    #Buttons

    1. Prevent `.button` going full-width if a child of a flex column.

    2. High contrast themes tend to eliminate background-color.
    With no border set, we need to apply a transparent outline to
    maintain the button shape. The negative outline-offset moves
    the outline inside the perimeter so it behaves like a border.
\*------------------------------------*/

button,
.button {
    align-items: center;
    align-self: start; /* 1 */
	background-color: $link-color;
	border: solid 2px $link-color;
	border-radius: rem(24);
	color: $white;
	display: inline-flex;
	font-size: rem(14);
	font-weight: $emphasis;
    justify-content: center;
	outline: 2px solid transparent; /* 2 */
	outline-offset: -2px; /* 2 */
	padding: rem(11) rem(24);

	&:hover {
		background-color: $link-color--hover;
		border-color: $link-color--hover;
	}

	&:focus,
	&:active {
		color: $black;
		background-color: $focus-color;
		border-color: $black;
	}
}


/**
Remove link styling from links styled as buttons.
 */
.button {
	text-decoration: none;
}


// Full-width buttons
.button--wide.button--wide {
	inline-size: 100%;
}


// For buttons with a visible border
.button--alt {
	background-color: transparent;
	color: $link-color;

	&:hover {
		background-color: $light-blue;
		color: $link-color--hover;
	}

	&:focus,
	&:active {
		background-color: $focus-color;
		border-width: 3px;
		color: $black;
		padding: rem(10) rem(23);
	}
}


// For buttons with no visible background or border
.button--ghost {
	background-color: transparent;
	border-color: transparent;
	border-radius: 0;
	color: $black;
	font-weight: normal;
	padding-left: 0;
	padding-right: 0;

	&:hover {
		background-color: transparent;
		border-color: transparent;
	}
}


// Disabled buttons
.button[disabled],
.button[disabled],
.button.js-disabled {
	background-color: $twiki-gray;
	border-color: $twiki-gray;
	box-shadow: none;
	color: #303030;
	cursor: not-allowed;

	&:hover,
	&:focus,
	&:active {
		background-color: $twiki-gray;
		color: #303030;
		outline: 0;
	}
}