/*------------------------------------*\
    #Details and summary elements
\*------------------------------------*/

summary {
	color: $link-color;
	cursor: pointer;
	display: inline-block;
    padding-block: rem(10);
    padding-inline-start: rem(25);
	position: relative;

	&::before {
        block-size: 0;
        border-color: transparent;
        border-inline-start-color: inherit;
        border-style: solid;
        border-width: 7px 0 7px 12.124px;
        content: '';
        display: block;
        inline-size: 0;
        inset-block: rem(-1) 0;
        inset-inline-start: 0;
        margin: auto;
        position: absolute;
	}

	&::-webkit-details-marker {
		display: none;
	}

	&:hover {
		color: $link-color--hover;
	}

	span {
		display: inline-block;
		text-decoration: underline;
	}

	&:focus {
		background-color: $focus-color;
		background-image: linear-gradient(to top, $black 3px, $focus-color 3px, $focus-color);
		color: $black;
	}

	&:focus span {
		text-decoration: none;
	}

}

// details {
// 	margin-bottom: 1rem;
// 	margin-top: 1rem;
// }

// details[open] > summary {
// 	margin-bottom: 1rem;
// }

[dir="rtl"] summary::before {
    border-width: 7px 12.124px 7px 0;
}


details[open] > summary::before {
    transform: rotate(90deg);
}

[dir="rtl"] details[open] > summary::before {
    transform: rotate(-90deg);
}