/*------------------------------------*\
    #Details and summary elements
\*------------------------------------*/

summary {
	color: $link-color;
	cursor: pointer;
	display: inline-block;
	padding-left: rem(25);
	position: relative;

	&::before {
		border-color: transparent;
		border-left-color: inherit;
		border-style: solid;
		border-width: 7px 0 7px 12.124px;
		bottom: 0;
		clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
		content: '';
		display: block;
		height: 0;
		left: 0;
		margin: auto;
		position: absolute;
		top: rem(-1);
		width: 0;
	}

	&::-webkit-details-marker {
		display: none;
	}

	&:hover {
		color: $link-color--hover;
	}

	span {
		display: inline-block;
		padding-bottom: rem(10);
		padding-top: rem(10);
		text-decoration: underline; /* 1 */
		text-decoration-skip-ink: auto; // Not supported by Safari
		text-underline-offset: 0.25em; // Supported by Safari
	}

	&:focus {
		background-color: $focus-color;
		background-image: linear-gradient(to top, $black 3px, $focus-color 3px, $focus-color);
		color: $black;
	}

	&:focus span {
		text-decoration: none;
	}

}

details {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

details[open] > summary {
	margin-bottom: 1rem;
}

details[open] > summary::before {
	transform: rotate(90deg);
}

[dir="rtl"] {
	summary {
		padding-left: 0;
		padding-right: rem(25);

		&::before {
			left: auto;
			right: 0;
			transform: rotate(180deg);
		}
	}
}