/*------------------------------------*\
    #Focus
\*------------------------------------*/

:focus {

	/**
	Ideally we would specify the background-color here to cover all circumstances.
	Unfortunately, this does not work at all well for Internet Explorer, so we can't.
	 */
	outline: 2px solid transparent;
	outline-offset: -2px;
}

/**
Where focus is programmatically moved to a target element that is not interactive, we
suppress the focus styles. See https://github.com/twbs/bootstrap/issues/29875#issuecomment-582648069
 */
main:focus,
#main:focus,
[tabindex="-1"]:focus {
	outline: none;
}