/*------------------------------------*\
    #HTML elements
\*------------------------------------*/

dfn {
	font-style: normal;
	font-weight: $emphasis;
}


b,
strong,
.bold {
	font-weight: $emphasis;
}


em,
i {
	font-style: italic;
}


small,
.small,
.small-caps {
	font-size: var(--w3c-text-01);
}


.small-caps {
	text-shadow: 0 0 0 $off-black;
	text-transform: uppercase;
}


code,
samp,
pre {
	font-family: $mono-family;
	hyphens: none;
	orphans: 3;
	padding-inline: rem(3);
	page-break-before: avoid;
	text-transform: none;
	widows: 3;
}

pre :where(code, samp, kbd) {
	padding: 0;
}
