/*------------------------------------*\
    #Icons
\*------------------------------------*/

svg {
	fill: currentColor;
}

svg:not([class]) {
	inline-size: 100%;
}

/**
SVG icons are sized relative to font size, thanks to the em unit.
 */
.icon {
	block-size: 1em;
    inline-size: 1em;
    vertical-align: baseline;
}

.icon--larger {
    block-size: rem(30);
    inline-size: rem(30);
}


/**
Use the `with-icon` class on the SVG's parent, if there
is a need to specify the spacing between text and icon.
Pay attention to whether the icon is before the text or after.
 */
.with-icon--before,
.with-icon--after,
.with-icon--larger {
	align-items: baseline;
	display: inline-flex;

	.icon {
		flex: 0 0 auto;
	}
}

.with-icon--larger {
	align-items: center;
}

.with-icon--before {
	.icon {
        margin-inline-end: rem(8);
	}
}

.with-icon--after {
	.icon {
        margin-inline-start: rem(8);
	}
}
