/*------------------------------------*\
    #Lists
\*------------------------------------*/

ul,
ol {
	margin-block: 1rem;
	padding-inline-start: 2.4em;

	li {
		max-inline-size: 60ch;
		text-wrap: pretty;
	}

	// > * + *,
	// li ul,
	// li ol {
	// 	margin-block-start: 0.75em;
	// }
}

ol.counter {
	::marker {
		content: counters(list-item, ".") ". ";
	}
}


/**
Remove bullets, margin and padding from lists inside a <nav> element, and lists with the
'.clean-list' class/. Note that that this may remove list semantics in some circumstances in
some WebKit browsers. See https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html
If it's important that the number of items in a list is announced, add role="list" to the <ul> / <ol>
 */
nav ul,
nav ol,
.clean-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li,
    ol,
    ul {
        margin: 0;
        padding: 0;
    }
}


/**
Description lists / Definition lists
 */
dl {
	margin-block: 1rem;
	max-inline-size: 60ch;
	text-wrap: pretty;

	dt {
		font-weight: bold;
	}

    dd {
        margin-inline-start: rem(40);
    }

	dd + dt {
		margin-block-start: 0.5em;
	}

	dt + dd,
	dd + dd {
		margin-block-start: 0.25em;
	}
}

// display items on the same line (comma-separated)
dl.inline {
	div {
		align-items: baseline;
		display: flex;
		flex-wrap: wrap;

 		dt, dd {
			margin-inline-start: 0;
		}

		dt::after {
			content: ":\00a0 ";
		}

		dd:not(:last-child):after {
			content: ',\00a0 ';
		}
	}
}

// With a grid layout for a more tabulated feel

dl.grid {
	@supports (grid-row-start: auto) {
		column-gap: 1rem;
		display: grid;
		grid-template-columns: max-content;
		grid-template-rows: 1fr;
		row-gap: 1rem;

		dd + dt,
		dt + dd,
		dd + dd {
			margin-block-start: 0;
		}

		dt {
			grid-column-start: 1;
			grid-column-end: 2;
		}

		dd {
			grid-column-start: 2;
			grid-column-end: 3;
            margin-inline-start: 0;
		}
	}
}