/*------------------------------------*\
    #Quotes
\*------------------------------------*/

blockquote {

	@include txt-saturn;

	@include stack(1rem);

	> * {

		font-weight: bold;

	}

	cite {

		font-size: 1rem;
		font-style: normal;
		font-weight: normal;

	}

}