/*------------------------------------*\
    #Quotes
\*------------------------------------*/

blockquote {

	@include txt-saturn;

	color: $w3c-blue;
	font-weight: bold;
	margin-inline-start: rem(50);
	position: relative;
	padding: rem(20);

	&::before {

		background-color: $w3c-blue;
		border-radius: rem(5);
		content: '';
		height: 100%;
		left: rem(-10);
		position: absolute;
		top: 0;
		width: rem(10);

	}

	> * + * {

		margin-top: 1rem;

	}

	cite {

		color: $off-black;
		font-size: 1rem;
		font-style: normal;
		font-weight: normal;

	}

}

[dir="rtl"] {

	blockquote::before {

		left: auto;
		right: rem(-10);

	}

}