/*------------------------------------*\
    #Quotes
\*------------------------------------*/

blockquote {
	// margin-inline-end: rem(25);
	// margin-inline-start: rem(25);
	padding: rem(10);
	position: relative;

	&::before {
		background-color: $twiki-gray;
        block-size: 100%;
		content: '';
        inline-size: rem(3);
        inset-block-start: 0;
		inset-inline-start: rem(-3);
		position: absolute;
	}

	// > * + * {
	// 	margin-top: 1rem;
	// }

    > *:first-child {
        margin-block-start: 0;
    }

    > *:last-child {
        margin-block-end: 0;
    }

	cite {
		color: $off-black;
		font-size: var(--w3c-text-0);
		font-style: normal;
		font-weight: bold;
	}
}