/*------------------------------------*\
    #Skip link
\*------------------------------------*/

.skip-link {
	@extend .visuallyhidden;
	background-color: $focus-color;
	border: solid 3px $black;
	color: $black;
	padding: em(10) em(15);
    position: absolute;
	text-decoration: none;

	&:active,
	&:focus {
        inset-block-start: 0;
        inset-inline-start: 0;
		z-index: 999;

		span {
			box-shadow: 0 -1px 0 0 inset;
		}
	}
}