/*------------------------------------*\
    #Social links
\*------------------------------------*/

//ul.social-links {}


.social-links__item {

	height: rem(48);
	padding: rem(14);
	width: rem(48);

	.icon {

		height: rem(20);
		width: rem(20);

	}

	&:hover .icon {

		color: $link-color--hover;

	}

}

//.social-links__item.with-icon {
//
//	align-items: center;
//	color: $link-color;
//
//	.icon {
//
//		background-color: transparent;
//		height: 1em;
//		padding: 0;
//		width: 1em;
//
//	}
//
//	&:hover {
//
//		text-decoration: none;
//
//	}
//
//}