/*------------------------------------*\
    #Tables
\*------------------------------------*/

table {
    border: 1px solid $border-color;
    border-collapse: collapse;
    margin-block: 1rem;
    width: 100%;
}

tr:nth-child(even) {
    background-color: rgba(#cecdcd, 0.5);
}

th,
td,
table caption {
    padding: 0.75rem;
    text-align: start;
}

td, th {
    vertical-align: text-top;
}

thead th,
tfoot th {
    background-color: $deep-blue;
    color: $white;
    vertical-align: bottom;
}


/**
Responsive tables:
https://adrianroselli.com/2020/11/under-engineered-responsive-tables.html
 */
@media screen {
    .table-wrap {
        border: 1px solid $border-color;
        margin-block: 1rem;
        max-inline-size: 100% !important;

        &[role][aria-labelledby][tabindex] {
            overflow: auto;
        }

        table {
            border: 0;
            margin-block: 0;
        }

        &:focus {
            border-color: $black;
            box-shadow: inset 0 0 0 4px;
            outline: 3px solid $focus-color;
        }
    }
}