/*------------------------------------*\
    #Cards advanced
\*------------------------------------*/

.js [data-component="card"] {
	cursor: pointer;

	&:hover .card__link {
		text-decoration: underline;
	}
}

.js [data-component="card"] .card__text {
	/**
	Minimum spacing between the penultimate and last child elements.
	Matches the measure used for the stack mixin on `.card__text`
	 */
	// > :nth-last-child(2) {
	// 	margin-block-end: 1rem;
	// }

	> :last-child {
		margin-block-end: 0;
		margin-block-start: auto;
	}
}