/*------------------------------------*\
    #Collapsible sections advanced
\*------------------------------------*/

.js .component--collapsibles {

	// Added via JavaScript
	[data-heading="collapsibles"] button {
		align-items: flex-start;
		border-radius: 0;
		display: flex;
		flex-wrap: wrap;
		font-size: rem(18);
		font-weight: bold;
		line-height: calc(27 / 18);
		justify-content: space-between;
		margin-top: 0;
		padding: rem(3);
		width: 100%;

		> span {
			font-size: rem(15);
			font-weight: normal;
			line-height: calc(22.5 / 15);
			color: #333;
			order: 2;
			width: 100%;
		}

       // Decorative chevron
        &::after {
            block-size: rem(14);
            border-color: black;
            border-style: solid;
            border-width: 0 rem(4) rem(4) 0;
            content: "";
            inline-size: rem(14);
            margin-block-start: rem(4);
            margin-inline-end: rem(2);
            transform: rotate(45deg);
        }

		&:hover {
			text-decoration: underline; /* 1 */
			text-decoration-skip-ink: auto; // Not supported by Safari
			text-underline-offset: 0.25em; // Supported by Safari
		}

		&:focus {
			border-color: inherit;
			background-color: $focus-color;
			text-decoration: none;
		}
	}

    [data-heading="collapsibles"] button[aria-expanded="true"] {
        &::after {
            margin-block-start: rem(10);
            scale: -1;
        }
    }

	[data-heading="collapsibles"] + * {
		&[aria-hidden="true"] {
			display: none;
		}
	}
}
