/*------------------------------------*\
    #Comments advanced
\*------------------------------------*/

.button[data-replylink],
#js-cancel-reply {
	//@include txt-pluto;
	font-size: var(--w3c-text-01);
	text-decoration: underline;

	&:hover {
		box-shadow: 0 0 4px 2px rgba(84,84,84,0.25);
	}

	&:focus {
		background-color: $focus-color;
		border-color: $black;
		box-shadow: none;
		text-decoration: none;
	}
}

#js-cancel-reply {
	margin-inline-start: rem(10);
}