/*------------------------------------*\
    #Disclosure widget
\*------------------------------------*/

.no-js {
	[data-toggle="true"] {
		display: none;
	}

	[data-toggle="true"] + * {
		display: initial;
	}
}

[data-toggle="true"] {
	@include txt-pluto;
	align-items: center;
    display: inline-flex;
	font-weight: bold;

    // Decorative chevron
    &::after {
        block-size: rem(7);
        border-color: black;
        border-style: solid;
        border-width: 0 rem(2) rem(2) 0;
        content: "";
        inline-size: rem(7);
        margin-block-start: rem(-3);
        margin-inline-end: rem(3);
        margin-inline-start: rem(12);
        transform: rotate(45deg);
    }

	&:hover {
		box-shadow: 0 0 4px 2px rgba(84,84,84,0.25);
	}

	&:focus {
		background-color: $focus-color;
		border-color: $black;
		box-shadow: none;
	}
}

[data-toggle="true"][aria-expanded="false"] {
	+ * {
		display: none;
	}
}

[data-toggle="true"][aria-expanded="true"] {
	&::after {
        margin-block-start: rem(4);
        scale: -1;
    }

	+ * {
		display: block;
	}
}