/*------------------------------------*\
    #Global header advanced
\*------------------------------------*/

[data-trigger="account-menu"] {
	border-radius: 0;
	margin-inline-start: auto;
	padding: rem(7);
	position: relative;

	&::before {
		background-color: $w3c-blue;
        block-size: rem(3);
		bottom: rem(-2);
		content:'';
		display: none;
        inline-size: 100%;
		inset-inline-start: 0;
		position: absolute;
	}

	&.js-has-msg::after {
		background-color: $red;
        block-size: 15px;
		border: solid 3px $white;
		border-radius: 50%;
		content: '';
        inline-size: 15px;
        inset-block-start: 3px;
        inset-inline-end: 3px;
		position: absolute;
	}

	@include mq($max-width) {
		margin-inline-start: auto;
		padding: rem(8) rem(3) rem(5) rem(3);

		&:hover::before {
			display: block;
		}

		&:focus {
			background-color: $focus-color;
			border-color: $black;
		}

		&:focus:hover::before {
			display: none;
		}
	}

	&[aria-expanded="false"] + .account-menu {
		display: none;
	}

	* {
		pointer-events: none;
	}

	.sr-only {
		@extend %visuallyhidden;
		font-size: rem(14);

		@include mq($max-width) {
			border: initial;
			clip: auto;
			clip-path: none;
			height: auto;
			margin: initial;
			overflow: initial;
			padding: initial;
			position: static;
			white-space: nowrap;
			width: auto;
		}
	}

	.avatar {
		@include mq($max-width) {
			margin-inline-start: rem(8);
		}
	}
}

.account-menu {
	background-color: $white;
	border: solid 1px $border-color;
	box-shadow: 0 8px 16px 0 rgba(55,70,95,0.07);
    inline-size: rem(250);
    inset-block-start: 100%;
    max-inline-size: calc(100% - 10vw);
	position: absolute;
    right: 5vw;
	z-index: 10;
}

[dir="rtl"] {
	.account-menu {
		left: 5vw;
        right: auto;
	}
}

.account-menu ul {
	padding-block: rem(10);

	li {
		padding: rem(10) rem(20);
	}
}

.account-menu li:first-of-type {
	font-weight: $emphasis;
}

.account-menu li:nth-child(3) {
	padding-block-start: 0;
}

.account-menu li:last-of-type {
	padding-block-end: 0;
}

.account-menu a {
	display: block;
	padding-block: rem(10);
}