/*------------------------------------*\
    #Global header advanced
\*------------------------------------*/

[data-trigger="account-menu"] {

	border-radius: 0;
	margin-left: auto;
	padding: rem(7);
	position: relative;

	&::before {

		background-color: $w3c-blue;
		bottom: rem(-2);
		content:'';
		display: none;
		height: rem(3);
		left: 0;
		position: absolute;
		width: 100%;

	}

	&.js-has-msg::after {

		background-color: $red;
		border: solid 3px $white;
		border-radius: 50%;
		content: '';
		height: 15px;
		position: absolute;
		right: 3px;
		top: 3px;
		width: 15px;

	}

	@include mq($max-width) {

		margin-inline-start: auto;
		padding: rem(8) rem(3) rem(5) rem(3);

		&:hover::before {

			display: block;

		}

		&:focus {

			background-color: $focus-color;
			border-color: $black;

		}

		&:focus:hover::before {

			display: none;

		}

	}

	&[aria-expanded="false"] + .account-menu {

		display: none;

	}

	* {

		pointer-events: none;

	}

	.sr-only {

		@extend %visuallyhidden;

		font-size: rem(14);

		@include mq($max-width) {

			border: initial;
			clip: auto;
			clip-path: none;
			height: auto;
			margin: initial;
			overflow: initial;
			padding: initial;
			position: static;
			white-space: nowrap;
			width: auto;

		}

	}

	.avatar {

		@include mq($max-width) {

			margin-inline-start: rem(8);

		}

	}

}

[dir="rtl"] {

	[data-trigger="account-menu"] {

		margin-left: 0;
		margin-right: auto;

		&.js-has-msg::after {

			left: 3px;
			right: auto;

		}

	}

}

.account-menu {

	background-color: $white;
	border: solid 1px $border-color;
	box-shadow: 0 8px 16px 0 rgba(55,70,95,0.07);
	position: absolute;
	right: 5vw;
	top: 100%;
	max-width: calc(100% - 10vw);
	min-width: rem(250);
	z-index: 10;

}

[dir="rtl"] {

	.account-menu {

		left: 5vw;
		right: auto;

	}

}

.account-menu ul {

	padding-bottom: rem(10);
	padding-top: rem(10);

	li {

		padding: rem(10) rem(20);

	}

}

.account-menu li:first-of-type {

	font-weight: $emphasis;

}

.account-menu li:nth-child(3) {

	padding-top: 0;

}

.account-menu li:last-of-type {

	//border-top: solid 1px $border-color;
	padding-bottom: 0;

}

.account-menu a {

	display: block;
	padding-bottom: rem(10);
	padding-top: rem(10);

}