/*------------------------------------*\
	#Multiselect
\*------------------------------------*/

.combo {
	display: block;
	position: relative;
}

.combo-menu {
	background-color: #f5f5f5;
	display: none;
    inline-size: 100%;
    inset-block-start: 100%;
	inset-inline-start: 0;
	max-block-size: rem(300);
	overflow-y: scroll;
	position: absolute;
	z-index: 100;
}

.combo-menu:not(:empty) {
	border: 1px solid rgba(0, 0, 0, .42);
	border-radius: 0 0 4px 4px;
}

.open .combo-menu {
	display: block;
}

.combo-option {
	padding: rem(10) rem(12) rem(12);
}

.combo-option.option-current,
.combo-option:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.combo-option.option-selected {
	padding-inline-end: rem(30);
	position: relative;
}

.combo-option.option-selected::after {
    block-size: rem(16);
	border-block-end: 2px solid $black;
	border-inline-end: 2px solid $black;
	content: '';
    inline-size: rem(8);
    inset-block-start: 50%;
    inset-inline-end: rem(15);
	position: absolute;
	transform: translate(0, -50%) rotate(45deg);
}

.selected-options {
	list-style-type: none;
	margin: 0;
	max-inloine-size: rem(400);
	padding: 0;
}

.selected-options {
	li {
		display: inline-block;
		margin-block-end: rem(5);
	}
}

.remove-option {
	background-color: #024488;
	border: 1px solid #024488;
	border-radius: 3px;
	color: #fff;
	font-size: 0.75em;
	font-weight: bold;
	margin-block-end: rem(6);
	margin-inline-end: rem(6);
	padding: 0.25em 1.75em 0.25em 0.25em;
	position: relative;
}

.remove-option:focus {
	border-color: #baa1dd;
	box-shadow: 0 0 3px 1px #6200ee;
	outline: 3px solid transparent;
}

.remove-option::before,
.remove-option::after {
	border-inline-end: 2px solid #fff;
	content: "";
	block-size: 1em;
    inline-size: 0;
    inset-block-start: 50%;
	inset-inline-end: 0.75em;
	position: absolute;
}

.remove-option::before {
	transform: translate(0, -50%) rotate(45deg);
}

.remove-option::after {
	transform: translate(0, -50%) rotate(-45deg);
}