/*------------------------------------*\
    #Navigation advanced

    N.B. aria-expanded attribute is managed by JS
\*------------------------------------*/

.no-js {
	[data-trigger='mobile-nav'],
	.global-nav__inner .nav__submenu {
		display: none;
	}

	.global-nav__inner > ul {
		border-block-end: none;
		box-shadow: none;
		padding-inline: 0;
		position: static;
	}
}

[data-trigger='mobile-nav'] {
	display: inline-flex;
	font-size: var(--w3c-text-01);
	padding: rem(7) 0;

	&:focus {
		background-color: $focus-color;
		border-color: $black;
	}

	&[aria-expanded='false'] .close-icon {
		display: none;
	}

	&[aria-expanded='true'] .menu-icon {
		display: none;
	}

	&[aria-expanded='false'] ~ .account-login {
		display: none;
	}

	&[aria-expanded='false'] + * {
		display: none;
	}

	&[aria-expanded='true'] ~ .account-login {
		display: flex;
	}

	@include mq($max-width) {
		display: none;
	}
}

[data-trigger='mobile-nav'] {
	margin-inline-start: auto;
}

[data-trigger='account-menu'] ~ [data-trigger='mobile-nav'] {
	margin-inline-start: rem(10);
}

#global-nav {
	position: relative;
	z-index: 2;
}

.global-nav__inner > ul {
	border-block-end: solid 1px $border-color;
	box-shadow: 0 8px 16px -5px rgba(55,70,95,0.07);
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
    inline-size: 100%;
    inset-block-start: 100%;
	inset-inline-start: 0;
	padding-block-end: rem(45);
	padding-inline: 5vw;
	position: absolute;

	@include mq($max-width) {
		border: none;
		box-shadow: none;
		flex-basis: auto;
		flex-wrap: nowrap;
		padding-block-end: 0;
		padding-inline: 0;
		position: static;
	}
}

.signed-in .global-nav__inner > ul > li:last-child {
	display: none;
}

// Show chevron
.js .global-nav__inner .top-nav-item > .nav-link::after {
    visibility: visible;
}

.global-nav__inner [data-trigger='sub-nav'] {
	align-items: center;
	background-color: transparent;
	border-color: transparent;
	border-radius: 0;
	color: $off-black;
	display: flex;
	font-size: 1rem;
    inline-size: 100%;
	line-height: inherit;
	outline: solid 1px transparent;
	outline-offset: -1px;
	padding: rem(12) 0;

	@include mq($max-width) {
		display: inline-flex;
	}

    &::after {
        margin-inline-start: auto !important;
        transform: rotate(-45deg);

        @include mq($max-width) {
            margin-block-start: rem(-3);
            margin-inline-start: rem(8) !important;
            transform: rotate(45deg);
        }
    }

	&:focus {
		background-color: $focus-color;
		background-image: none !important;
		border-color: $black;
	}

	&[aria-expanded='false'] + * {
		display: none;
	}

	&[aria-expanded='true'] {
		@include mq($max-width) {
            &::after {
                margin-block-start: 0;
                scale: -1;
            }
		}
	}
}

[dir='rtl'] {
    .global-nav__inner [data-trigger='sub-nav']::after {
        transform: rotate(135deg);

        @include mq($max-width) {
            margin-inline-start: rem(4);
            transform: rotate(45deg);
        }
    }
}

.global-nav__inner .nav__submenu {
	background-color: $white;
	border-block-end: solid 1px $border-color;
	box-shadow: 0 8px 16px -5px rgba(55,70,95,0.07);
	display: block;
    inline-size: 100vw;
    inset-block-start: 0;
	inset-inline-start: 0;
	min-block-size: calc(100% + 1px);
	padding-block-end: rem(45);
	position: absolute;
	z-index: 5;

	@include mq($max-width) {
		border-block-end: solid 1px $border-color;
		border-block-start: solid 1px $border-color;
        inset-block-start: 100%;
		inset-inline-start: 50%;
		min-block-size: auto;
		padding: rem(50) rem(20);
		transform: translateX(-50%);
	}
}

.global-nav__inner .nav__submenu .l-center {
	@include mq($max-width) {
		display: flex;
		justify-content: space-between;
	}
}

.global-nav__inner .nav__submenu__intro {
	@include mq($max-width) {
		inline-size: 30%;
	}

	> h2 {
		//@include txt-jupiter;
		color: $off-black;
		font-size: var(--w3c-text-4);
		font-weight: $emphasis;
		margin-block-start: rem(25);
		padding-block: rem(6);

		@include mq($max-width) {
			//font-size: rem(34);
			line-height: calc(43 / 34);
			margin-block-end: rem(25);
            margin-block-start: 0;
		}
	}
}

.global-nav__inner .nav__submenu__intro__text {
	//@include txt-saturn;
	font-size: var(--w3c-text-1);

	*:not(a) {
		display: none;

		@include mq($max-width) {
			display: block;
		}
	}

	> a {
		color: $link-color;
		display: inline-block;
		margin-block-end: 1rem;
		margin-block-start: 0;
		padding-block-end: rem(9);
		padding-block-start: 0;

		@include mq($max-width) {
            margin-block-end: 0;
            margin-block-start: 1rem;
            padding-block-start: rem(9);
		}

		&:hover {
			color: $link-color--hover;
		}

		&:focus {
			color: $black;
		}
	}
}

.global-nav__inner [data-button='mobile-back'] {
	//@include txt-jupiter;
	align-items: center;
    border-block-start: solid 1px $border-color;
	border-radius: 0;
    display: flex;
	font-size: var(--w3c-text-2);
	padding: rem(12) 5vw;

	@include mq($max-width) {
		display: none;
	}

    // Decorative chevron
    &::before {
        block-size: rem(16);
        border-color: $black;
        border-style: solid;
        border-width: 0 rem(4) rem(4) 0;
        content: '';
        inline-size: rem(16);
        flex: 0 0 auto;
        margin-inline-end: rem(12);
        margin-inline-start: rem(6);
        transform: rotate(135deg);
    }
}

[dir='rtl'] {
	.global-nav__inner [data-button='mobile-back']::before {
        transform: rotate(-45deg);
	}
}

.global-nav__inner .nav__submenu ul {
	@include mq($max-width) {
		columns: 2;
		column-gap: rem(40);
		width: 65%;
	}
}

.global-nav__inner .nav__submenu li {
	border-block-end: solid 1px $border-color;
	padding-block: rem(3);

	@include mq($max-width) {
        border-block-end: 0;
        padding-block: 0;
	}
}

.global-nav__inner .nav__submenu li a {
	color: $off-black;
    display: block;
	font-size: var(--w3c-text-1);
	padding-block: rem(8);
	text-decoration: none;

	@include mq($max-width) {
        align-items: flex-start;
        display: inline-flex;
        inline-size: auto;
        padding-inline: rem(2);

        // Decorative chevron
        &::before {
            block-size: rem(16);
            border-color: $w3c-blue;
            border-style: solid;
            border-width: 0 rem(4) rem(4) 0;
            content: '';
            flex: 0 0 auto;
            inline-size: rem(16);
            margin-block-start: rem(6);
            margin-inline-end: rem(16);
            transform: rotate(-45deg);
        }
	}

	&:hover {
		color: $link-color--hover;

        &::before {
            border-color: $deep-blue;
        }
	}

	&:focus {
		background-color: $focus-color;
		background-image: linear-gradient(to top, $black 3px, $focus-color 3px, $focus-color);
		color: $black;

        &::before {
            border-color: $black;
        }
	}
}

[dir="rtl"] {
    .global-nav__inner .nav__submenu li a::before {
        transform: rotate(135deg);
    }
}