/*------------------------------------*\
    #Slider advanced

    N.B. `.js-slider` is added by JS
\*------------------------------------*/

.js [data-component="slider"] {

	.js-slider {

		overflow: hidden;

		&:focus-within {

			box-shadow: 0 0 0 3px $focus-color;
			outline: rem(2) solid $off-black;
			outline-offset: rem(-2);

		}

	}

	.js-slider > ul {

		display: flex;
		padding-bottom: rem(10);
		padding-top: rem(10);
		position: relative;

		> li {

			flex: 0 0 100%;

		}

		> li.js-current {

			visibility: visible;

		}

		> li.js-hidden {

			visibility: hidden;

		}

		> li + li {

			margin-top: 0;

		}

	}

}

.slider-controls .js-previous svg,
.slider-controls .js-next svg {

	pointer-events: none;

}

.slider-controls .js-previous {

	.chevron-right {

		display: none;

	}

}

.slider-controls .js-next {

	.chevron-left {

		display: none;

	}

}

[dir="rtl"] {

	.slider-controls .js-previous {

		.chevron-left {

			display: none;

		}

		.chevron-right {

			display: block;

		}

	}

	.slider-controls .js-next {

		.chevron-left {

			display: block;

		}

		.chevron-right {

			display: none;

		}

	}

}

.slider-controls {

	.js-previous,
	.js-next {

		color: $off-black;

		&:hover {

			box-shadow: 0 0 4px 2px rgba(84,84,84,0.25);

		}

		&:focus {

			background-color: $white;
			border-color: $black;
			box-shadow: 0 0 0 3px $focus-color;

		}

	}

	button[disabled] {

		background-color: transparent;
		border-color: transparent;
		color: $storm-gray;

		&:hover {

			background-color: transparent;
			box-shadow: none;
			color: $storm-gray;

		}

	}

}