<div>
    <h3 data-heading="collapsibles">{% block title %}{% endblock title %}{% block subtitle %}{% endblock subtitle %}</span></h3>
    <div>
        {% block content %}{% endblock content %}
    </div>
</div>