{% if sections is not empty %}
    <div class="component--collapsibles" data-component="collapsibles">
        {% for section in sections %}
            <div>
                <h3 data-heading="collapsibles">{% block title %}{{ section.title }}{% endblock title %}<span>{% block subtitle %}{% endblock subtitle %}</span></h3>
                <div>
                    {% block content %}{% endblock content %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}