<nav id="global-nav" aria-label="Main">
    <div class="global-nav__inner l-center">
        <a class="logo-link" href="/">
            <span class="logo"><svg xmlns="http://www.w3.org/2000/svg" focusable="false"
                                    aria-hidden="true"
                                    overflow="visible" viewBox="0 0 72 48" width="72px" height="48px"><defs/><g
                            image-rendering="optimizeQuality" shape-rendering="geometricPrecision"
                            text-rendering="geometricPrecision"><path fill="#FFF" fill-rule="evenodd"
                                                                      d="M0 0h72v48H0z"
                                                                      clip-rule="evenodd"/><path
                                fill="#005A9C"
                                d="M18.117 8.006l5.759 19.58 5.759-19.58h15.614v1.946L39.37 20.08c2.065.663 3.627 1.868 4.686 3.615 1.059 1.748 1.589 3.799 1.589 6.155 0 2.914-.775 5.363-2.324 7.348s-3.555 2.978-6.017 2.978c-1.854 0-3.469-.589-4.845-1.767-1.377-1.178-2.396-2.773-3.058-4.786l3.256-1.35c.477 1.218 1.106 2.178 1.887 2.879a3.993 3.993 0 002.76 1.052c1.112 0 2.052-.622 2.82-1.866.768-1.245 1.152-2.74 1.152-4.489 0-1.933-.411-3.429-1.231-4.488-.954-1.244-2.45-1.867-4.489-1.867h-1.588v-1.906l5.56-9.612h-6.712l-.382.65-8.163 27.548h-.397l-5.958-19.937-5.957 19.937h-.397L2.032 8.006h4.17l5.759 19.58 3.892-13.185-1.906-6.395h4.17z"/><path
                                fill="#221B0A"
                                d="M66.92 8.006c-.819 0-1.554.295-2.111.861-.591.6-.92 1.376-.92 2.178a3 3 0 00.887 2.128 2.979 2.979 0 002.145.912c.793 0 1.562-.321 2.161-.903.574-.557.887-1.3.887-2.136 0-.811-.321-1.57-.878-2.136a3 3 0 00-2.171-.904zm2.643 3.065c0 .701-.271 1.351-.768 1.832a2.671 2.671 0 01-1.892.777c-.675 0-1.342-.278-1.84-.785s-.777-1.157-.777-1.849.287-1.368.802-1.891a2.54 2.54 0 011.84-.751c.726 0 1.376.271 1.883.785.49.489.752 1.147.752 1.882zm-2.559-1.807h-1.3v3.445h.65V11.24h.642l.701 1.469h.726l-.769-1.57c.498-.102.785-.439.785-.929 0-.625-.472-.946-1.435-.946zm-.118.422c.608 0 .886.169.886.591 0 .405-.278.549-.87.549h-.549v-1.14h.533z"
                                clip-rule="evenodd"/><g><path fill="#221B0A"
                                                              d="M61.807 7.825l.676 4.107-2.391 4.575s-.918-1.941-2.443-3.015c-1.285-.905-2.122-1.102-3.431-.832-1.681.347-3.587 2.357-4.419 4.835-.995 2.965-1.005 4.4-1.04 5.718-.056 2.113.277 3.362.277 3.362s-1.452-2.686-1.438-6.62c.009-2.808.451-5.354 1.75-7.867 1.143-2.209 2.842-3.535 4.35-3.691 1.559-.161 2.791.59 3.743 1.403 1 .854 2.01 2.721 2.01 2.721l2.356-4.696zM62.102 31.063s-1.057 1.889-1.715 2.617c-.659.728-1.837 2.01-3.292 2.651s-2.218.762-3.656.624c-1.437-.138-2.772-.97-3.24-1.317-.468-.347-1.664-1.369-2.34-2.322-.676-.953-1.733-2.859-1.733-2.859s.589 1.91.958 2.721c.212.467.864 1.894 1.789 3.136.863 1.159 2.539 3.154 5.086 3.604 2.547.451 4.297-.693 4.73-.97.433-.277 1.346-1.042 1.924-1.66.603-.645 1.174-1.468 1.49-1.962.231-.36.607-1.092.607-1.092l-.608-3.171z"/></g></g></svg></span>
            <span class="visuallyhidden">W3C homepage</span>
        </a>
        <button type="button" class="button button--ghost with-icon--after with-icon--larger"
                data-trigger="mobile-nav"></button>
        <ul class="clean-list">
            <li class="top-nav-item has-children">
                <a href="../page.html" class="nav-link">Standards</a>
                <div class="nav__submenu" style="display: none;">
                    <div class="l-center">
                        <div class="nav__submenu__intro">
                            <div class="nav__submenu__intro__text">
                                <p>Understand the various specifications, their maturity levels on the Web
                                    Standards track, and their adoption.</p>
                                <a class="with-icon--before with-icon--larger" href="../page.html"
                                   aria-hidden="true" tabindex="-1">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Explore Web Standards</a>
                            </div>
                        </div>
                        <ul class="clean-list" role="list">
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Technical reports</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Translations of technical reports</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Liaisons</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Promote web standards</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="top-nav-item has-children">
                <a href="../page.html" class="nav-link">Groups</a>
                <div class="nav__submenu" style="display: none;">
                    <div class="l-center">
                        <div class="nav__submenu__intro">
                            <div class="nav__submenu__intro__text">
                                <p>A variety of groups develop Web Standards, guidelines, or supporting
                                    materials.</p>
                                <a class="with-icon--before with-icon--larger" href="../page.html"
                                   aria-hidden="true" tabindex="-1">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Discover W3C groups</a>
                            </div>
                        </div>
                        <ul class="clean-list" role="list">
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Working groups</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Interest groups</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Community groups</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Business groups</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Technical architecture group</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Advisory Board</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Invited experts</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Participant guidebook</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Mailing lists</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="top-nav-item has-children">
                <a href="../page.html" class="nav-link">Get involved</a>
                <div class="nav__submenu" style="display: none;">
                    <div class="l-center">
                        <div class="nav__submenu__intro">
                            <div class="nav__submenu__intro__text">
                                <p>W3C works at the nexus of core technology, industry needs, and societal
                                    needs.</p>
                                <a class="with-icon--before with-icon--larger" href="../page.html"
                                   aria-hidden="true" tabindex="-1">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Find ways to get involved</a>
                            </div>
                        </div>
                        <ul class="clean-list" role="list">
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Working in business ecosystems</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    E-commerce</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Media & Entertainment</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Network & Communications</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Publishing</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Smart Cities</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Transportation</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Web Advertising</a>
                            </li>
                            <li class="break-after">
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Web of Things</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    W3C Membership</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Donate</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Sponsoring W3C</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="top-nav-item has-children">
                <a href="../page.html" class="nav-link">Resources</a>
                <div class="nav__submenu" style="display: none;">
                    <div class="l-center">
                        <div class="nav__submenu__intro">
                            <div class="nav__submenu__intro__text">
                                <p>Master Web technology fundamentals, use our developer tools, or
                                    contribute code.</p>
                                <a class="with-icon--before with-icon--larger" href="../page.html"
                                   aria-hidden="true" tabindex="-1">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Learn from W3C resources</a>
                            </div>
                        </div>
                        <ul class="clean-list" role="list">
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Validators and tools</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Accessibility fundamentals</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Internationalization</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Learn CSS</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="top-nav-item has-children">
                <a href="../page.html" class="nav-link">News and events</a>
                <div class="nav__submenu" style="display: none;">
                    <div class="l-center">
                        <div class="nav__submenu__intro">
                            <div class="nav__submenu__intro__text">
                                <p>Recent content across news, blogs, press releases, media; upcoming
                                    events.</p>
                                <a class="with-icon--before with-icon--larger" href="../page.html"
                                   aria-hidden="true" tabindex="-1">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Follow news and events</a>
                            </div>
                        </div>
                        <ul class="clean-list" role="list">
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    News</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Blog</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Press releases</a>
                            </li>
                            <li class="break-after">
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    In the media</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Events</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Talks</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Workshops</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Meetings</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Conferences</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="top-nav-item has-children">
                <a href="../page.html" class="nav-link">About</a>
                <div class="nav__submenu" style="display: none;">
                    <div class="l-center">
                        <div class="nav__submenu__intro">
                            <div class="nav__submenu__intro__text">
                                <p>Understand our values and principles, learn our history, look into our
                                    policies, meet our people.</p>
                                <a class="with-icon--before with-icon--larger" href="../page.html"
                                   aria-hidden="true" tabindex="-1">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Find out more about us</a>
                            </div>
                        </div>
                        <ul class="clean-list" role="list">
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Our mission</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Sponsoring W3C</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    History</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Leadership</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Staff</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Evangelists</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Careers</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Press and media</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Contact</a>
                            </li>
                            <li>
                                <a class="with-icon--before with-icon--larger" href="../page.html">
                                    <svg class="icon icon--larger" xmlns="http://www.w3.org/2000/svg"
                                         focusable="false" aria-hidden="true" viewBox="0 0 320 512"
                                         width="1em" height="1em">
                                        <path class="chevron-right"
                                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                                        <path class="chevron-left"
                                              d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/>
                                    </svg>
                                    Policies and legal information</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="top-nav-item">
                <a href="../page.html" class="nav-link icon-link"><span class="visuallyhidden">Search</span>
                    <img class="icon" src="https://w3c-dev.studio24.dev/dist/assets/svg/search.svg" width="24"
                         height="24" alt
                         aria-hidden="true"/></a>
            </li>
            <li class="top-nav-item">
                <a href="../page.html" class="account-login icon-link with-icon--after">My account <img
                            class="icon" src="https://w3c-dev.studio24.dev/dist/assets/svg/avatar.svg" width="24"
                            height="24" alt
                            aria-hidden="true"/></a>
            </li>
        </ul>
    </div>
</nav>
