<figure class="component component--image">
        <img {% for key, value in attr %}{{ key }}="{{ value }}" {% endfor %}
            sizes="100vw"
            loading="lazy"
            {% if informative_or_decorative == 'decorative' %}
                alt=""
            {% else %}
                alt="{% if alt %}{{ alt }}{% endif %}"
            {% endif %}
           />
    {% if caption is defined and caption %}
        <figcaption>
            <p>{{ caption|raw }}</p>
        </figcaption>
    {% endif %}
</figure>
