<figure class="component component--image">
    <div class="l-frame l-frame--16-9">
        <img {% for key, value in attr %}{{ key }}="{{ value }}" {% endfor %}
            sizes="100vw"
            loading="lazy"
            {% if alt %}alt="{{ alt }}"{% endif %}/>
    </div>
    {% if caption is defined and caption %}
        <figcaption>
            {{ caption|raw }}
        </figcaption>
    {% endif %}
</figure>
