<figure class="component component--image">
    <div class="l-frame l-frame--16-9">
        <img src="{{ src }}"
             {% if srcset is defined %}
                srcset="{{ srcset }}"
             {% endif %}
             sizes="100vw"
             loading="lazy"
             {% if alt %}alt="{{ alt }}"{% endif %}/>
    </div>
    <figcaption>
        {% block caption %}{% endblock %}
    </figcaption>
</figure>
