<blockquote class="component component--quote">
    <p>
        {% block text %}{% endblock %}
    </p>
    {% if author is defined and author is not empty %}
        <footer>{{ author }}</footer>
    {% endif %}
</blockquote>