<figure class="component component--quote">
    <blockquote>
        <p>
            {% block text %}{% endblock %}
        </p>
    </blockquote>
    {% if author is defined and author is not empty %}
        <figcaption>{{ author }}</figcaption>
    {% endif %}
</figure>
