<section class="toc">
    <h2>Page contents skip to links</h2>
    <ul class="clean-list" role="list">
        <li><a href="#open-standards-principles">Open Standards Principles</a></li>
        <li><a href="#design-principles">Design principles</a></li>
        <li><a href="#vision">Vision</a></li>
    </ul>
</section>
