<figure class="component component--video">
    <div class="l-frame l-frame--16-9">
        {{ iframe|raw }}
    </div>
    {% if caption is defined and caption %}
        <figcaption>
            {{ caption|raw }}
        </figcaption>
    {% endif %}
</figure>
