<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} - W3C Design System</title>

    <meta property="og:description" name="description" content="{% block meta_description %}{% endblock %}"/>
    <meta property="og:image" name="image" content="/dist/assets/images/w3c-opengraph-image.png">

    <script src="/dist/assets/js/libraries/fontfaceobserver.js"></script>

    <script>
        let myFont = new FontFaceObserver('Noto Sans');

        Promise.all([myFont.load()]).then(function () {
            document.documentElement.className += " fonts-loaded";
        });

        var jsAssetsPath = "/dist/assets/";
    </script>

    <link rel="stylesheet" href="/dist/assets/styles/core.css?ver=1.4.3" media="screen"/>

    <!--
    CSS Mustard Cut
    Print (Edge doesn't apply to print otherwise)
    Edge, Chrome 39+, Opera 26+, Safari 9+, iOS 9+, Android ~5+, Android UCBrowser ~11.8+
    FF 47+
    -->
    <link rel="stylesheet" id="advanced-stylesheet" href="/dist/assets/styles/advanced.css?ver=1.4.3" media="
        only print,
        only all and (pointer: fine), only all and (pointer: coarse), only all and (pointer: none),
        only all and (min--moz-device-pixel-ratio:0) and (display-mode:browser), (min--moz-device-pixel-ratio:0) and (display-mode:fullscreen)
    ">

    <link rel="stylesheet" href="/dist/assets/styles/print.css" media="print"/>

    <script>
        (function() {
            let linkEl = document.getElementById('advanced-stylesheet');
            if (window.matchMedia && window.matchMedia(linkEl.media).matches) {
                let head = document.querySelector('head');
                // Add main JS
                let jsMain = document.createElement('script');
                jsMain.src = '/dist/assets/js/main.js?ver=1.4.3';
                jsMain.defer = true;
                head.appendChild(jsMain);
                // Update classname to show JS is available
                (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement);
            }
        })();
    </script>

</head>

<body {% block body_class %}{% endblock %}>
    <a class="skip-link" href="#main">Skip to content</a>
    <div class="grid-wrap">
        <div class="wrap">

            {% block header %}
                {% include 'components/header-nav.html.twig' %}
            {% endblock %}

            {% block breadcrumbs %}
            {% endblock %}

            <main id="main" {% block extra_main_attributes %}{% endblock %}>
                {% block content %}
                {% endblock %}
            </main>

            {% block crosslinks %}
            {% endblock %}

            {% block comments %}
            {% endblock %}

        </div>

        {% include 'components/footer.html.twig' %}

    </div>

        {% block scripts %}
        {% endblock %}
    {{ javascript|raw }}
</body>

</html>
