{% extends '@W3CWebsiteTemplates/bundles/TwigBundle/Exception/error.html.twig' %}

{% block documenttitle %}{{ 'error.404.title'|trans({}, 'w3c_website_templates_bundle') }} | W3C{% endblock %}

{% block title %}{{ 'error.404.title'|trans({}, 'w3c_website_templates_bundle') }}{% endblock %}

{% block content %}
    <figure class="component component--fifty-fifty reversed">
        <div class="illustration">
            <img src="{{ asset('svg/404.svg', 'website-2021') }}" alt="" role="presentation"/>
        </div>
        <figcaption>
            {{ 'error.404.message'|trans({}, 'w3c_website_templates_bundle')|raw }}
        </figcaption>
    </figure>
{% endblock %}
