/*------------------------------------*\
    #Access control banner
\*------------------------------------*/

.banner.banner--access-control.acl-private, .banner.banner--access-control.acl-self {
  background-color: $teal-green;
  color: $white;
}

.banner--access-control.acl-member {
  background-color: $pink;
  color: $black;
}

.banner--access-control.acl-team {
  background-color: $light-red;
  color: $black;
}
