/*------------------------------------*\
    #Collapsible sections
\*------------------------------------*/

.component--collapsibles {
	> div {
		background-color: $white;
		border-radius: rem(6);
		box-shadow: rem(-1) rem(1) rem(4) rgba(55, 70, 95, 0.12);
		padding: rem(25);
	}

	 > div + div {
	 	margin-top: 1rem;
	 }

}

h3[data-heading="collapsibles"] {
	font-size: var(--w3c-text-1);
	line-height: 1.5;
	margin-block-start: 0;
	max-inline-size: none;
}

[data-heading="collapsibles"] > * {
	display: block;
	font-size: var(--w3c-text-01);
	font-weight: normal;
}

[data-heading="collapsibles"] + * {
	// Restrict line-length for readability
	> * {
		max-inline-size: rem($text-measure);
	}
}