/*------------------------------------*\
    #Component

    Extra vertical margin on anything with a class of `.component`
\*------------------------------------*/

.component {
    //background-color: lightsalmon; // Temporary bg colour to help assess spacing
    margin-block: rem(80);

    @include mq($bp-tab-small) {
        margin-block: rem(100);
    }
}

/* Sometimes components are nested, so we remove the block margin on those instances */
.component .component {
    margin-block: 0;
}

/* Full width components tend to have a background colour, where we don't want white space in between */
.component.u-full-width + .component.u-full-width {
    margin-block-start: rem(-80);

    @include mq($bp-tab-small) {
        margin-block-start: rem(-100);
    }
}


/* Let components determine their external spacing, without additions from internal children */
.component > *:first-child {
    margin-block-start: 0;
}