/*------------------------------------*\
    #Comments
\*------------------------------------*/

.comments {
	background-color: $mist-gray;
	padding-block: rem(50);

	h2 {
		//@include txt-mars;
		font-size: var(--w3c-text-3);
	}

}

.comment-list {
	// margin-block-start: rem(30);

	> li {
		border-block-end: solid 1px $border-color;
		padding-block-end: rem(50);
	}

	// > li + li {
	// 	margin-block-start: rem(20);
	// }

}

.l-sidebar.comment {
	overflow: visible;
}

.l-sidebar.comment,
.l-sidebar.comment-form-wrap {
	overflow: visible;

	.sidebar {
		flex-basis: auto;
		order: -1;

		img {
			inline-size: rem(50);
		}
	}

	.not-sidebar {
		min-inline-size: calc(80% - 1.5rem);
	}
}

.reply-list.reply-list {
    // margin-block-start: rem(30);
	margin-inline-start: rem(70);
	padding-inline-start: rem(30);
	position: relative;

	&::before {
		background-color: $w3c-blue;
        block-size: 100%;
		border-radius: rem(3);
		content: '';
        inline-size: rem(3);
        inset-block-start: 0;
		inset-inline-start: 0;
		position: absolute;
	}

	> li {
		border-block-start: solid 1px $border-color;
	}

	// > li + li {
	// 	margin-block-start: rem(20);
	// }
}

.reply-list .comment {
	padding-block-start: rem(20);
}

.comment__author {
	font-size: 1rem;
	font-weight: bold;
	line-height: calc(32 / 24);
}

.comment__body {
	max-inline-size: rem($text-measure);
}

[data-replylink] {
	//@include txt-pluto;
	align-self: flex-start;
	font-size: var(--w3c-text-01);
	padding-block: rem(11);
}

#respond {
	// margin-block-start: 1rem;

	> div:first-of-type {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
	}
}

.comment-form-wrap {
	// margin-block-start: rem(30);
}

#comment-form {
	max-inline-size: rem($text-measure);

	.l-switcher {
		overflow: visible;
	}

	.l-switcher > * {
		align-items: flex-end;
		margin: rem(-10);
	}

	.l-switcher > * > * {
        inline-size: calc(660px * 660 - 100% * 660);
		padding: rem(10);
	}
}