/*------------------------------------*\
    #Family/Series list
\*------------------------------------*/

.family-grouping {
    padding-block-start: rem(28);
}

.family-grouping h2 + * {
    margin-block-start: 1rem;
}