/*------------------------------------*\
    #Family/Series list
\*------------------------------------*/

.family-grouping {

    padding-top: rem(40);

}

.family-grouping h2 + * {

    margin-top: 1rem;

}