/*------------------------------------*\
    #Global footer
\*------------------------------------*/

.global-footer {
	border-block-start: solid 1px $border-color;
	grid-row-start: 2; // Needed for sticky footer
	grid-row-end: 3; // Needed for sticky footer
    padding-block: rem(20) rem(25);

	.l-center {
		@include stack(1rem);
	}

	a,
	.copyright {
		@include txt-eris;
	}

	// .copyright {
	// 	margin-block-end: 0;
	// }

	a {
		color: $off-black;

		&:visited,
		&:hover,
		&:active {
			color: $off-black;
		}
	}
}

.global-footer__links {
	display: flex;
	flex-wrap: wrap;

	> ul {
		display: flex;
		flex-wrap: wrap;

		@include mq($bp-tab-large) {
			margin-inline-start: auto;
		}
	}

	.l-cluster > * {
		margin: 0 rem(-10);
	}

	.l-cluster.l-cluster > * > * {
		margin: 0 rem(10);
	}

	a:not([class]) {
		display: block;
		padding-block: rem(12);
	}

	.with-icon--larger {
		padding: rem(12);

		img {
			block-size: rem(20);
			inline-size: rem(20);
		}

		&:focus {
			background-color: $focus-color;
			background-image: linear-gradient(to top, $black 3px, $focus-color 3px, $focus-color);
		}
	}
}