/*------------------------------------*\
    #Group list
\*------------------------------------*/

.component--group-list {
	background-color: $mist-gray;
	margin-block: 0;
	padding-block: rem(50);
}

.component--group-list__intro {
	max-inline-size: rem($text-measure);

	> *:first-child {
		margin-block-start: 0;
	}
}
