/*------------------------------------*\
    #Global header core
\*------------------------------------*/

.no-js {
	[data-trigger="account-menu"],
	.account-menu {
		display: none;
	}
}

.global-header {
	background-color: $white;
}

.global-header .banner {
	background-color: $light-blue;
	padding-block: rem(10);
}

.global-header .banner__inner {
	align-items: center;
	display: flex;

	p {
		//@include txt-eris;
		font-size: var(--w3c-text-01);
		// margin-block: 0;
	}

	a {
		color: $deep-blue;

		&:focus {
			color: $black;
		}
	}
}

#lang-nav {
	background-color: $mist-gray;

	.l-cluster > * {
		justify-content: flex-end;
		margin: 0 rem(-10);
	}

	.l-cluster.l-cluster > * > * {
		margin: 0 rem(10);
	}

	a {
		//@include txt-eris;
		color: $off-black;
		display: block;
		font-size: var(--w3c-text-01);
		padding-block: rem(12);
	}
}

.global-header [role="status"] {
	@extend %visuallyhidden;
}