/*------------------------------------*\
    #Hero
\*------------------------------------*/

.hero {
	background-color: $mist-gray;

	@include mq($max-width) {
		padding-top: rem(46);
	}

	.l-sidebar > *,
	.l-sidebar > * > * {
		margin: 0;
	}

	.l-sidebar .sidebar {
		flex-basis: rem(500);
	}

	.l-sidebar .not-sidebar {
		min-inline-size: 50%;
		padding-block-end: rem(30);
	}

	.l-sidebar .not-sidebar > * {
		@include mq($max-width) {
			max-inline-size: rem(504);
		}
	}

	// .lead {
	// 	margin-block-end: rem(18);
	// 	margin-block-start: 0;
	// }

	img {
		margin-inline: auto;

		@include mq($bp-tab-small) {
			max-inline-size: rem(500);
		}
	}

}

// .hero h1 {
// 	margin-block-end: 1rem;
// }

// .hero + * {
// 	margin-block-start: rem(50);
// }

.hero .button {
	align-self: flex-start;
}

.hero--listing {
	background-color: $white;
	// margin-block-end: rem(20);
	padding-block-end: rem(40);

	// + * {
	// 	margin-block-start: 0;
	// }
}

.hero--listing .filters.l-switcher {
	margin: rem(-10);
	overflow: visible;

	> * > * {
        inline-size: calc(920px * 920 - 100% * 920);
		min-inline-size: 33.333%;
		padding: rem(10);
	}
}

.hero--listing .filters {
	> div {
		align-items: flex-start;

		> fieldset,
		> .input-group-wrap {
			align-self: end;
		}
	}

	// .field {
	// 	margin-block-start: 0;
	// }

	.button--ghost {
		padding-inline: rem(3);
		text-decoration: underline;

		&:hover {
			box-shadow: 0 0 4px 2px rgba(84,84,84,0.25);
		}

		&:focus {
			border-color: inherit;
			box-shadow: inset 0 0 0 2px;
			outline: solid 3px $focus-color;
			outline-offset: 0;
		}
	}
}

.hero--listing .browse {
	margin: rem(-10);
	overflow: visible;

	> * {
		display: flex;
		flex-wrap: wrap;
	}

	> * > * {
		padding: rem(10);
	}

	h2 {
		font-size: 1rem;
		font-weight: normal;
	}
}
