/*------------------------------------*\
    #Inline list
\*------------------------------------*/

.inline-list-container {
	display: flex;
        flex-flow: row wrap;

	ul {
		display: contents;

		li:not(:last-child)::after {
			content: ", ";
		}
	}
}
