/*------------------------------------*\
    #Logo
\*------------------------------------*/

.logo {
	display: block;
	position: relative;
	max-width: rem(80);
	
	> img {
		display: block;
		width: 100%;
	}

	@include mq($bp-lap){
		max-width: rem(115);
	}

}

.logo--member {
	height: rem(84);
	padding-left: rem(20);
	padding-right: rem(20);
	position: relative;
	width: rem(150);

	> img {
		bottom: 0;
		height: auto;
		left: 0;
		margin: auto 0;
		max-height: 100%;
		max-width: calc(100% - 40px);
		position: absolute;
		right: 0;
		top: 0;
		width: auto;
	}
}