/*------------------------------------*\
    #Logo
\*------------------------------------*/

.logo {

	display: block;
	height: rem(44);
	position: relative;
	width: rem(66);

	@include mq($bp-tab-large) {

		height: rem(52);
		width: rem(78);

	}

}

.logo--member {

	height: rem(84);
	padding-left: rem(20);
	padding-right: rem(20);
	position: relative;
	width: rem(150);

	> img {

		bottom: 0;
		height: auto;
		left: 0;
		margin: auto 0;
		max-height: 100%;
		max-width: calc(100% - 40px);
		position: absolute;
		right: 0;
		top: 0;
		width: auto;

		//@supports (object-fit: contain) {
		//
		//	max-height: 100%;
		//	max-width: 100%;
		//	object-fit: contain;
		//	position: static;
		//
		//}

	}

}
