/*------------------------------------*\
    #Logo
\*------------------------------------*/

.logo {
	display: block;
	block-size: rem(44);
    inline-size: rem(66);
	position: relative;

	@include mq($bp-tab-large) {
        block-size: rem(52);
        inline-size: rem(78);
	}
}

.logo--member {
	height: rem(84);
    inline-size: rem(150);
	padding-inline: rem(20);
	position: relative;

	> img {
		inset-block-end: 0;
        iinset-block-start: 0;
		block-size: auto;
        inline-size: auto;
        inset-inline-end: 0;
		inset-inline-start: 0;
		margin: auto 0;
		max-block-size: 100%;
		max-inline-size: calc(100% - 40px);
		position: absolute;
	}
}