/*------------------------------------*\
    #Main
\*------------------------------------*/
/**
1. We use left and right padding to add some minimum space between the
contents of <main> and the edges of the parent element or viewport.
To avoid making the content narrower than intended, we add an exception
to our global box-sizing rule.
 */

main,
#main {
	box-sizing: content-box /* 1 */;
	margin-inline: auto;
	max-inline-size: rem($max-width);
	padding-block: rem(24) rem(100);
    padding-inline: 5vw;
}