/*------------------------------------*\
    #Maturity levels
\*------------------------------------*/

.maturity-level {}
.maturity-level-highlighted {

    background-color: $yellow;
    border-radius: rem(4);
    padding: rem(10);

}
