/*------------------------------------*\
    #Members grid
\*------------------------------------*/

.component--members {

	background-color: $mist-gray;
	padding-bottom: rem(25);
	padding-top: rem(25);

}

.component--members .l-center {

	@include stack;

	> h2,
	> p {

		max-width: rem($text-measure);

	}

}

.component--members__grid {

	display: flex;
	flex-wrap: wrap;

	@supports (display: grid) {

		display: grid;
		grid-auto-rows: minmax(rem(170), auto);
		grid-gap: rem(20);
		grid-template-columns: repeat(auto-fill, minmax(rem(170), 1fr));

	}

}

.component--members__grid figure {

	align-items: center;
	background-color: $white;
	display: flex;
	justify-content: center;
	margin-bottom: rem(20);
	margin-left: rem(10);
	margin-right: rem(10);
	flex: 1 1 rem(170);
	position: relative;

	@supports (display: grid) {

		margin: 0;

	}

}

.component--members__grid figcaption {

	@include txt-pluto;

	font-weight: bold;
	margin: rem(10);
	text-align: center;

}

.component--members__grid .l-box {

	max-width: rem(170);

}

.component--members__grid + a {

	align-self: flex-start;

}

.component--members__cta > * {

	align-items: center;

}

.component--members__cta > * > *:not(a) {

	flex-basis: 100%;

	@include mq($bp-tab-small) {

		flex-basis: auto;

	}

}