/*------------------------------------*\
    #Meta info
\*------------------------------------*/

.meta {
	border-block: solid 1px $border-color;
	// margin-block-end: rem(50);
	padding: rem(24) 0;

	// dl {
	// 	margin-block-end: 0;
	// }
}

.meta .with-link {
	padding-block: rem(10);
}