/*------------------------------------*\
    #Navigation core
\*------------------------------------*/

#global-nav svg {
	pointer-events: none;
}

#global-nav {
	border-block-end: solid 1px $border-color;
	display: block;
	padding-block: rem(18);

	@include mq($max-width) {
		padding-block-end: 0;
		padding-block-start: rem(20);
	}
}

.global-nav__inner {
	align-items: center;
	display: flex;
	flex-wrap: wrap;

	@include mq($max-width) {
		align-items: flex-end;
		flex-wrap: nowrap;
		position: relative;
	}
}

.global-nav__inner > ul {
	background-color: $white;
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
    inline-size: 100%;
	padding-block-end: rem(45);

	@include mq($max-width) {
		flex-basis: auto;
		flex-wrap: nowrap;
        padding-block-end: 0;
	}
}

li.top-nav-item + li.top-nav-item {
	@include mq($max-width) {
		margin-inline-start: rem(8);
	}
}

.global-nav__inner > ul > li:last-child {
	@include mq($max-width) {
		margin-inline-start: auto;
	}
}

.global-nav__inner .top-nav-item {
	border-bottom: solid 1px $border-color;
	flex-basis: 100%;

	@include mq($max-width) {
		border-block-end: none;
		flex-basis: auto;
	}
}

.nav-link {
	color: $off-black;
	display: block;
	padding: rem(10) 0;
	position: relative;
	text-decoration: none;

	@include mq($max-width) {
		display: inline-block;
	}
}

.global-nav__inner .top-nav-item > .nav-link {
    font-weight: $emphasis;
}

// Add chevron to links with children - visually hide but retain space.
.global-nav__inner .has-children > .nav-link {
    align-items: center;
    display: flex;

    &::after {
        block-size: rem(7);
        border-color: black;
        border-style: solid;
        border-width: 0 rem(2) rem(2) 0;
        content: "";
        inline-size: rem(7);
        margin-inline-start: rem(12);
        visibility: hidden;
    }
}

.logo-link {
	&:focus {
		box-shadow: 0 0 0 3px $black;
		outline: solid 3px $focus-color;
		outline-offset: 3px;
	}

	@include mq($max-width) {
		margin-inline-end: rem(25);
		padding-block-end: rem(5);
		position: relative;

		&::before {
			background-color: $w3c-blue;
            block-size: rem(3);
            content:'';
            display: none;
            inline-size: 100%;
			inset-block-end: 0;
            inset-inline-start: 0;
			position: absolute;
		}

		&:hover::before {
			display: block;
		}
	}
}

.icon-link {
	align-items: center;
	color: $off-black;
	display: flex;
	min-block-size: rem(44);
	text-decoration: none !important;

	@include mq($max-width) {
        block-size: 100%;
		display: inline-flex;
		justify-content: center;
		min-inline-sizeh: rem(44);
	}

	&::before {
		inset-block-end: 0 !important;
	}

	&:visited,
	&:hover {
		color: $off-black !important;
	}

	&:focus {
		background-color: $focus-color;
		background-image: linear-gradient(to top, $black 3px, $focus-color 3px, $focus-color);
		color: $black;
	}

	.hide-at-max-width {
		margin-inline-start: rem(10);

		@include mq($max-width) {
            block-size: 1px;
			border: 0;
			clip: rect(0 0 0 0);
			clip-path: inset(100%);
            inline-size: 1px;
			margin-inline-start: 0;
			overflow: hidden;
			padding: 0;
			position: absolute;
			white-space: nowrap;
		}
	}
}

.account-login {
	flex-basis: 100%;
	font-size: var(--w3c-text-01) !important;

	@include mq($max-width) {
		flex-basis: auto;
		padding-block: rem(10);
	}
}

.global-nav__inner .top-nav-item > *:first-child {
	@include mq($max-width) {
        block-size: 100%;
		font-size: var(--w3c-text-0);
		//line-height: rem(27);
		padding: rem(10) rem(5) rem(7) !important;
		position: relative;
		white-space: nowrap;

		&::before {
			background-color: $w3c-blue;
            block-size: rem(3);
			content:'';
			display: none;
            inline-size: 100%;
            inset-block-end: rem(-2);
			inset-inline-start: 0;
			position: absolute;
		}

		&:hover::before {
			display: block;
		}

		&:focus {
			background-color: $focus-color;
			background-image: linear-gradient(to top, $black 3px, $focus-color 3px, $focus-color);
			color: $black;
		}

		&:focus:hover::before {
			display: none;
		}
	}
}

.global-nav__inner .nav__submenu {
	display: none;
}

#archive-nav ul,
#category-nav ul {
	background-color: $white;
    block-size: rem(180);
	border: solid 1px $border-color;
	overflow: auto;

	a {
		display: block;
		padding: rem(10);
	}
}