/*------------------------------------*\
    #Notes
\*------------------------------------*/

.note {

	@include stack;

	border-width: 5px;
	margin-bottom: rem(30);
	max-width: rem(752); // Matches max width of main content region on two-column templates

}

.note--error {

	border-color: $error-color;

}

.note--info {

	border-color: $info-color;

}

.note--success {

	border-color: $success-color;

}

.note--warning {

	border-color: $warning-color;

}