/*------------------------------------*\
    #Notes
\*------------------------------------*/

.note {

	@include stack(1rem);

	border-width: 5px;

	> * {

		max-width: rem($text-measure);

	}

}

.note--error {

	border-color: $error-color;

}

.note--info {

	border-color: $info-color;

}

.note--success {

	border-color: $success-color;

}

.note--warning {

	border-color: $warning-color;

}