/*------------------------------------*\
    #Pre-footer items
\*------------------------------------*/

.pre-footer.l-switcher {

	margin: rem(-20);

}

.pre-footer.l-switcher > * > * {

	margin-top: rem(40);
	min-width: 33.333%;
	padding: rem(20);
	width: calc(920px * 920 - 100% * 920);

}

.pre-footer h2 + * {

	margin-top: 1em;

}

.pre-footer a {

	display: block;

}