/*------------------------------------*\
    #Pre-footer items
\*------------------------------------*/

.pre-footer.l-switcher {
	margin: rem(-20);
}

.pre-footer.l-switcher > * > * {
    inline-size: calc(920px * 920 - 100% * 920);
	margin-block-start: rem(40);
	min-inline-size: 33.333%;
	padding: rem(20);
}

// .pre-footer h2 + * {
// 	margin-block-start: 1em;
// }

.pre-footer a {
	display: block;
}