/*------------------------------------*\
    #Quotes
\*------------------------------------*/

.component--quote {
	@include txt-saturn;
	color: $w3c-blue;
	font-weight: bold;
	margin-inline-end: 0;
	margin-inline-start: rem(10);
	padding: rem(20);
	position: relative;

	&::before {
		background-color: $w3c-blue;
		border-radius: rem(5);
        inline-size: rem(10);
		inset-inline-start: rem(-10);
	}

	> * {
		max-inline-size: rem(630);
	}
}