/*------------------------------------*\
    #Quotes
\*------------------------------------*/

.component--quote {
	@include txt-saturn;
	color: $deep-blue;
	font-weight: bold;
	margin-inline-end: 0;
	margin-inline-start: rem(10);
	padding: rem(20);
	position: relative;

	&::before {
		background-color: $deep-blue;
		border-radius: rem(5);
		left: rem(-10);
		width: rem(10);
	}

	> * {
		max-width: rem(630);
	}
}

[dir="rtl"] {
	.component--quote::before {
		left: auto;
		right: rem(-10);
	}
}