/*------------------------------------*\
    #RSS feed
\*------------------------------------*/

.rss {
	margin-block-start: rem(40);

	> *:first-child {
		margin-block-start: 0;
	}

	a {
		padding-block: rem(10);
	}
}