/*------------------------------------*\
    #Search
\*------------------------------------*/

input[type=search] {

	max-width: none;
	position: relative;
	z-index: 1;
	
}

.l-sidebar.search {

	overflow: visible;

}

.l-sidebar.search > * {

	margin: -0.75rem;

}

.l-sidebar.search > * > * {

	margin: 0.75rem;

}

.l-sidebar.search form .sidebar {

	flex-basis: auto;

}

.l-sidebar.search form .not-sidebar {

	min-width: 70%;

}

.l-sidebar.search input[type="search"] {

	max-width: none;

}

@supports (padding-inline-start: 1em) {

	input[type="search"] {

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cdefs/%3E%3Cpath d='M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z'/%3E%3C/svg%3E");
		background-position: center left 0.5em;
		background-repeat: no-repeat;
		background-size: rem(20);
		padding-inline-start: rem(40);

	}

	[dir="rtl"] input[type="search"] {

		background-position: center right 0.5em;

	}

}