/*------------------------------------*\
    #Slide
\*------------------------------------*/

.slide {
	@include mq($bp-tab-large) {
		align-items: flex-start;
		display: flex;
		justify-content: space-between;
	}

	// > * + * {
	// 	margin-block-start: 1rem;
    //
	// 	@include mq($bp-tab-large) {
    //         margin-block-start: 0;
	// 	}
	// }
}

.slide__quote,
.slide__cite {
	@include mq($bp-tab-large) {
		flex-basis: 45%;
	}
}

.slide__quote {
	background: url('../images/quote-bg.png') no-repeat 0 0;
	font-size: rem(20);
	font-weight: bold;
	line-height: calc(32 / 20);
	margin-inline-start: rem(35);
	padding-block-start: rem(15);
	position: relative;

	@include mq($bp-tab-small) {
		font-size: rem(24);
		line-height: calc(33.6 / 24);
	}

	&::before {
		background-color: $w3c-blue;
        block-size: 100%;
		border-radius: rem(5);
		content: '';
        inline-size: rem(4);
        inset-block-start: 0;
		inset-inline-start: rem(-33);
		position: absolute;
	}

	> * {
		max-inline-size: rem($text-measure);
	}

}

[dir="rtl"] {
	.slide__quote {
		background-position-x: 100%;
	}
}


.slide__cite {
	@include txt-pluto;
	padding-inline-start: rem(5);

	&.l-sidebar .sidebar {
		flex-basis: auto;
	}

	&.l-sidebar .not-sidebar {
		align-items: flex-start;
		min-inline-size: calc(70% - 1.5rem);

		p:first-child {
			font-weight: bold;
		}

		// p:first-child + p {
		// 	margin-block-start: 0;
		// }
	}
}


.slide__logo {
	background-color: $white;
	block-size: rem(120);
    inline-size: rem(180);
	padding: rem(24);
	position: relative;

	> img {
		inset-block-end: 0;
        inset-block-start: 0;
		inset-inline-end: 0;
        inset-inline-start: 0;
		margin: auto;
		max-inline-size: 100%;
		position: absolute;

		@supports (object-fit: contain) {
			block-size: 100%;
			max-inline-size: none;
			object-fit: contain;
			position: static;
		}
	}
}