/*------------------------------------*\
    #Slider core
\*------------------------------------*/

.component--slider {

	background-color: $mist-gray;
	padding-bottom: rem(50);
	padding-top: rem(50);

	h2 {

		font-size: 1rem;
		font-weight: normal;
		margin-bottom: rem(24);

	}

	ul > li + li {

		margin-top: 2rem;

	}

}