/*------------------------------------*\
    #Slider core
\*------------------------------------*/

.component--slider {
	background-color: $mist-gray;
	padding-block: rem(50);

	h2 {
		font-size: 1rem;
		font-weight: normal;
		// margin-block-end: rem(24);
	}

	// ul > li + li {
	// 	margin-block-start: 2rem;
	// }
}