/*------------------------------------*\
    #Slide
\*------------------------------------*/

.slide {

	@include mq($bp-tab-large) {

		align-items: flex-start;
		display: flex;
		justify-content: space-between;

	}

	> * + * {

		margin-top: 1rem;

		@include mq($bp-tab-large) {

			margin-top: 0;

		}

	}

}

.slide__quote,
.slide__cite {

	@include mq($bp-tab-large) {

		flex-basis: 45%;

	}

}

.slide__quote {

	background: url('../images/quote-bg.png') no-repeat 0 0;
	font-size: rem(20);
	font-weight: bold;
	line-height: calc(32 / 20);
	margin-inline-start: rem(35);
	padding-top: rem(15);
	position: relative;

	@include mq($bp-tab-small) {

		font-size: rem(24);
		line-height: calc(33.6 / 24);

	}

	&::before {

		background-color: $w3c-blue;
		border-radius: rem(5);
		content: '';
		height: 100%;
		left: rem(-33);
		position: absolute;
		top: 0;
		width: rem(4);

	}

	> * {

		max-width: rem($text-measure);

	}

}

[dir="rtl"] {

	.slide__quote {

		background-position-x: 100%;

		&::before {

			left: auto;
			right: rem(-33);

		}

	}

}


.slide__cite {

	@include txt-pluto;

	padding-inline-start: rem(5);

	&.l-sidebar .sidebar {

		flex-basis: auto;

	}

	&.l-sidebar .not-sidebar {

		align-items: flex-start;
		min-width: calc(70% - 1.5rem);

		p:first-child {

			font-weight: bold;

		}

		p:first-child + p {

			margin-top: 0;

		}

	}

}


.slide__logo {

	background-color: $white;
	height: rem(120);
	padding: rem(24);
	position: relative;
	width: rem(180);

	> img {

		bottom: 0;
		left: 0;
		margin: auto;
		max-width: 100%;
		position: absolute;
		right: 0;
		top: 0;

		@supports (object-fit: contain) {

			height: 100%;
			max-width: none;
			object-fit: contain;
			position: static;

		}

	}

}