/*------------------------------------*\
    #Table of contents (TOC)
\*------------------------------------*/

// .toc + * {
// 	margin-block-start: rem(30);
//
// 	@include mq($max-width) {
//         margin-block-start: rem(80);
// 	}
// }

.toc h2 {
	font-size: 1rem;
	font-weight: normal;
}

// Only apply the border to the top level list
.toc > ul {
	border-inline-start: solid 3px $deep-yellow;
}

.toc ul {
    line-height: 1em;
    padding-inline-start: rem(15);

    ul {
        list-style: circle inside;
        padding-inline-start: rem(30);
    }
}

.toc ul a {
	display: inline-block;
	padding-block: rem(10);
}