/*------------------------------------*\
    #Translation list
\*------------------------------------*/

.translation-container {
	display: flex;
        flex-flow: row wrap;

	ul {
		display: contents;

		li:not(:last-child)::after {
			content: ", ";
		}
	}
}
