/*------------------------------------*\
    #Video component
\*------------------------------------*/

.component--video {
	figcaption {
		@include txt-pluto;

		> * {
			max-inline-size: rem(540);
		}

		> a {
			display: inline-block;
			// margin: 0;
			padding-block: rem(10);
		}
	}
}